<!-- <pre>{{paginationData | json}}</pre> -->
<!-- <pre>{{currentPage | json}}</pre> -->
<!-- <pre>{{pagesToShow}}</pre> -->

<div class="flex space-x-px text-center text-atlas-neutrals-500">
    <button [ngClass]="paginationData?.hasPreviousPage ? 'hover:bg-atlas-neutrals-700 focus:bg-atlas-neutrals-700 hover:text-white focus:text-white' 
    : 'text-atlas-neutrals-40'" [disabled]="!paginationData?.hasPreviousPage"
        class="w-10 h-10 rounded flex justify-center" (click)="previousClick()">
        <span class="material-icons-outlined my-auto">
            navigate_before
        </span>
    </button>
    <button *ngFor="let page of pagesToShow" [ngClass]="{'bg-atlas-neutrals-700 text-white': page == currentPage}"
        [disabled]="page == currentPage"
        class="w-10 h-10 hover:bg-atlas-neutrals-700 focus:bg-atlas-neutrals-700 hover:text-white focus:text-white rounded"
        (click)="changePage(page)">{{page}}</button>
    <span *ngIf="lastPage > 1 && lastPage != pagesToShow[pagesToShow.length - 1]" class="material-icons-outlined mt-auto">
        more_horiz
    </span>
    <button *ngIf="lastPage > 1 && lastPage != pagesToShow[pagesToShow.length - 1]" [ngClass]="{'bg-atlas-neutrals-700 text-white': lastPage == currentPage}"
        [disabled]="lastPage == currentPage"
        class="w-10 h-10 hover:bg-atlas-neutrals-700 focus:bg-atlas-neutrals-700 hover:text-white focus:text-white rounded">{{lastPage}}</button>
    <button [ngClass]="paginationData?.hasNextPage ? 'hover:bg-atlas-neutrals-700 focus:bg-atlas-neutrals-700 hover:text-white focus:text-white' 
    : 'text-atlas-neutrals-40'" [disabled]="!paginationData?.hasNextPage" class="w-10 h-10 rounded flex justify-center"
        (click)="nextClick()">
        <span class="material-icons-outlined my-auto">
            navigate_next
        </span>
    </button>
</div>