<div *ngIf="isOpened">
    <div *ngIf="!isFullsize" class="fixed z-50 inset-0 overflow-y-auto" aria-labelledby="modal-title"
        role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <!--
        Background overlay, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
            <div (click)="close()" class="fixed inset-0 bg-atlas-blue-50 opacity-60 transition-opacity"
                aria-hidden="true">
            </div>

            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

            <!--
        Modal panel, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
            <div
                class="inline-block align-bottom bg-white overflow-hidden shadow-xl rounded-atlas transform sm:max-w-xl md:max-w-2xl lg:max-w-3xl max-w-4xl sm:my-8 sm:align-middle sm:w-full">
                <div class="bg-atlas-blue-400 text-white px-3 py-3 flex space-x-5">
                    <button (click)="close()" class="-mb-2 focus:text-atlas-neutrals-40 hover:text-atlas-neutrals-40">
                        <span class="material-icons-outlined">
                            close
                        </span>
                    </button>
                    <h1>{{title}}</h1>
                </div>
                <div class="px-6 py-6 overflow-y-auto text-left">
                    <ng-container *ngTemplateOutlet="content"></ng-container>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="isFullsize" class="bg-white min-h-screen min-w-full fixed inset-0">
        <div class="px-3 py-3 bg-black flex space-x-3">
            <button (click)="close()" class="-mb-2 focus:text-atlas-neutrals-40 hover:text-atlas-neutrals-40">
                <span class="material-icons-outlined">
                    close
                </span>
            </button>
            <h1 class="text-white">{{title}}</h1>
        </div>
        <div class="px-10 py-6 overflow-auto max-h-screen text-left">
            <ng-container *ngTemplateOutlet="content"></ng-container>
        </div>
    </div>
</div>

<ng-template #content>
    <ng-content></ng-content>
</ng-template>