<!-- <pre>{{orgForm.valid | json}}</pre> -->
<!-- <pre>{{orgForm.value | json}}</pre> -->

<form [formGroup]="orgForm" (submit)="onFormSubmit()">
    <div class="flex justify-between mb-5">
        <h1 class="text-atlas-neutrals-200 my-auto text-sm">Create Organization</h1>
        <div class="flex space-x-5">
            <a routerLink="/profiles/organizations"
                class="my-auto px-4 py-1 rounded-atlas text-atlas-blue-400 hover:bg-atlas-blue-50 focus:bg-atlas-blue-75">
                Cancel
            </a>
            <button type="submit" [disabled]="!orgForm.valid || !logoUrl"
                [ngClass]="!orgForm.valid || !logoUrl ? 'bg-neutral-500' : 'bg-atlas-blue-400 hover:bg-atlas-blue-500'"
                class="my-auto px-4 py-1 text-white rounded-atlas">
                Submit
            </button>
        </div>
    </div>

    <div class="mt-3 mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="flex space-x-5">
            <div class="my-auto w-1/3">
                <label class="text-atlas-neutrals-200 font-semibold">Display Picture<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <div class="relative">
                    <input type="file" #coverImageInput (change)="onLogoChange($event)"
                        accept="image/png, image/gif, image/jpeg" class="hidden" />
                    <img [src]="logoUrl ?? './assets/dummy-logo.jpg'" alt="Cover" class="block w-full h-auto">
                    <div
                        class="absolute top-0 bottom-0 left-0 right-0 w-full h-full opacity-0 bg-atlas-blue-75 hover:opacity-60 text-center">
                        <button type="button" (click)="coverImageInput.click()" class="w-full h-full">
                            <span class="material-icons-outlined text-5xl">
                                cloud_upload
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-2/3 flex flex-col space-y-1">
                <label class="text-atlas-neutrals-200 font-semibold">Organization name<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <input placeholder="Enter org name" formControlName="name"
                    [ngClass]="orgForm.get('name')?.touched && orgForm.get('name')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="orgForm.get('name')?.touched && orgForm.get('name')?.errors?.['required']"
                    class="text-sm text-atlas-red-400">
                    This field is required.
                </span>
                <span
                    *ngIf="orgForm.get('name')?.touched && (orgForm.get('name')?.errors?.['minlength'] || orgForm.get('name')?.errors?.['maxlength'])"
                    class="text-sm text-atlas-red-400">
                    This field's length must be between 2 to 50
                </span>

                <label class="text-atlas-neutrals-200 font-semibold">Organization email<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <input placeholder="Enter org email" formControlName="email"
                    [ngClass]="orgForm.get('email')?.touched && orgForm.get('email')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="orgForm.get('email')?.touched && orgForm.get('email')?.errors?.['required']"
                    class="text-sm text-atlas-red-400">
                    This field is required.
                </span>
                <span *ngIf="orgForm.get('email')?.touched && orgForm.get('email')?.errors?.['email']"
                    class="text-sm text-atlas-red-400">
                    Invalid Email
                </span>

                <label class="text-atlas-neutrals-200 font-semibold">Organization Phone</label>
                <input placeholder="Enter org phone" formControlName="phoneNumber"
                    [ngClass]="orgForm.get('phoneNumber')?.touched && orgForm.get('phoneNumber')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />

                <label class="text-atlas-neutrals-200 font-semibold">Organization Address</label>
                <textarea placeholder="Enter org name" formControlName="address"
                    [ngClass]="orgForm.get('address')?.touched && orgForm.get('address')?.errors ? 'border-red-300' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1"></textarea>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="grid grid-cols-2 gap-x-8 gap-y-2">
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Contact person name<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <input placeholder="Insert org organizational role" formControlName="contactPersonName"
                    [ngClass]="orgForm.get('contactPersonName')?.touched && orgForm.get('contactPersonName')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span
                    *ngIf="orgForm.get('contactPersonName')?.touched && orgForm.get('contactPersonName')?.errors?.['required']"
                    class="text-sm text-atlas-red-400">
                    This field is required.
                </span>
                <span
                    *ngIf="orgForm.get('contactPersonName')?.touched && (orgForm.get('contactPersonName')?.errors?.['minlength'] || orgForm.get('contactPersonName')?.errors?.['maxlength'])"
                    class="text-sm text-atlas-red-400">
                    This field's length must be between 3 to 50
                </span>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Contact person phone<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <input placeholder="Insert org organizational role" formControlName="contactPersonPhone"
                    [ngClass]="orgForm.get('contactPersonPhone')?.touched && orgForm.get('contactPersonPhone')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span
                    *ngIf="orgForm.get('contactPersonPhone')?.touched && orgForm.get('contactPersonPhone')?.errors?.['required']"
                    class="text-sm text-atlas-red-400">
                    This field is required.
                </span>
                <span
                    *ngIf="orgForm.get('contactPersonPhone')?.touched && orgForm.get('contactPersonPhone')?.errors?.['invalidBdMobileNumber']"
                    class="text-sm text-atlas-red-400">
                    Invalid mobile number
                </span>
            </div>
            <div class="flex space-x-2">
                <label class="text-atlas-neutrals-200 font-semibold">Status<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <div class="flex flex-col">
                    <select formControlName="status"
                        class="bg-atlas-blue-50 rounded-atlas px-2 py-1 text-atlas-blue-400">
                        <option value=null>Select Status</option>
                        <option *ngFor="let statusKey of profileStatusKeys" value="{{statusKey}}">{{statusKey}}</option>
                    </select>
                    <span *ngIf="orgForm.get('status')?.touched && orgForm.get('status')?.errors"
                        class="text-sm text-atlas-red-400">
                        This field is required.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="grid grid-cols-2 gap-x-8 gap-y-2">
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Website</label>
                <input placeholder="Insert org git link" formControlName="website"
                    [ngClass]="orgForm.get('website')?.touched && orgForm.get('website')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="orgForm.get('website')?.touched && orgForm.get('website')?.errors?.['pattern']"
                    class="text-sm text-atlas-red-400">
                    Invalid URL
                </span>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Facebook</label>
                <input placeholder="Insert org facebook profile link" formControlName="facebook"
                    [ngClass]="orgForm.get('facebook')?.touched && orgForm.get('facebook')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="orgForm.get('facebook')?.touched && orgForm.get('facebook')?.errors?.['pattern']"
                    class="text-sm text-atlas-red-400">
                    Invalid URL
                </span>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Linkedin</label>
                <input placeholder="Insert linkedin profile link" formControlName="linkedIn"
                    [ngClass]="orgForm.get('linkedIn')?.touched && orgForm.get('linkedIn')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="orgForm.get('linkedIn')?.touched && orgForm.get('linkedIn')?.errors?.['pattern']"
                    class="text-sm text-atlas-red-400">
                    Invalid URL
                </span>
            </div>
        </div>
    </div>
</form>