<!-- <pre>{{eventForm.valid | json}}</pre> -->
<!-- <pre>{{eventForm.value | json}}</pre> -->
<!-- <button (click)="getFormValidationErrors()">Get Errors</button> -->

<form [formGroup]="eventForm" (submit)="onFormSubmit($event.submitter?.id)">
    <div class="flex justify-between mb-5">
        <h1 class="text-atlas-neutrals-200 my-auto text-sm">Create Event</h1>
        <div class="flex space-x-5">
            <a routerLink="/events"
                class="my-auto px-4 py-1 rounded-atlas text-atlas-blue-400 hover:bg-atlas-blue-50 focus:bg-atlas-blue-75">
                Cancel
            </a>
            <button type="submit" id="saveAsDraft"
                class="my-auto px-4 py-1 rounded-atlas text-atlas-blue-400 hover:bg-atlas-blue-50 focus:bg-atlas-blue-75">
                Save As Draft
            </button>
            <button type="submit" id="save" [disabled]="!eventForm.valid || !bannerFile"
                [ngClass]="!eventForm.valid || !bannerFile ? 'bg-atlas-neutrals-70' : 'bg-atlas-blue-400 hover:bg-atlas-blue-500'"
                class="my-auto px-4 py-1 text-white rounded-atlas">
                Submit
            </button>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="flex space-x-5">
            <div class="my-auto w-1/3">
                <label class="text-atlas-neutrals-200 font-semibold">Event Banner<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <div class="relative">
                    <input type="file" #bannerInput (change)="onBannerChnange($event)"
                        accept="image/png, image/gif, image/jpeg" class="hidden" />
                    <img [src]="bannerUrl ?? './assets/dummy-banner.png'" alt="Cover" class="block w-full h-auto">
                    <div
                        class="absolute top-0 bottom-0 left-0 right-0 w-full h-full opacity-0 bg-atlas-blue-75 hover:opacity-60 text-center">
                        <button type="button" (click)="bannerInput.click()" class="w-full h-full">
                            <span class="material-icons-outlined text-5xl">
                                cloud_upload
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-2/3 flex flex-col space-y-1">
                <label for="title" class="text-atlas-neutrals-200 font-semibold">Event Title<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <input id="title" placeholder="Enter  an attractive title" formControlName="title" type="text" required
                    [ngClass]="eventForm.get('title')?.touched && eventForm.get('title')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="eventForm.get('title')?.touched && eventForm.get('title')?.errors?.['required']"
                    class="text-atlas-red-400 text-sm">This field is required</span>
                <span
                    *ngIf="eventForm.get('title')?.touched && eventForm.get('title')?.errors?.['minlength'] || eventForm.get('title')?.errors?.['maxlength']"
                    class="text-atlas-red-400 text-sm">This field's length mush be between 5 to 100 characters</span>

                <label for="about" class="text-atlas-neutrals-200 font-semibold">About<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <textarea id="about" placeholder="Enter event description or abstract" formControlName="about"
                    [ngClass]="eventForm.get('about')?.touched && eventForm.get('about')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1"></textarea>
                <span *ngIf="eventForm.get('about')?.touched && eventForm.get('about')?.errors?.['required']"
                    class="text-atlas-red-400 text-sm">This field is required</span>
                <span
                    *ngIf="eventForm.get('about')?.touched && eventForm.get('about')?.errors?.['minlength'] || eventForm.get('about')?.errors?.['maxlength']"
                    class="text-atlas-red-400 text-sm">This field's length mush be between 10 to 500 characters</span>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <label class="text-atlas-neutrals-200 font-semibold">Event Description</label>
        <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" formControlName="descriptionJson"
                [placeholder]="'Enter event description, topics etc.'"></ngx-editor>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="flex flex-col space-y-3">
            <div class="grid grid-cols-4 gap-2">
                <div class="flex flex-col space-y-1">
                    <label for="eventType" class="text-atlas-neutrals-200 font-semibold">Event Type<span
                            class="text-atlas-red-400 font-thin">*</span></label>
                    <select id="eventType" formControlName="eventType"
                        [ngClass]="eventForm.get('eventType')?.touched && eventForm.get('eventType')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-10'"
                        class="bg-atlas-blue-50 rounded-atlas px-2 py-1 text-atlas-blue-400 border-2">
                        <option value=null>Select Event Type</option>
                        <option *ngFor="let type of eventTypes" value="{{type}}">{{type}}</option>
                    </select>
                    <span *ngIf="eventForm.get('eventType')?.touched && eventForm.get('eventType')?.errors"
                        class="text-atlas-red-400 text-sm">This field is required</span>
                </div>

                <div class="flex flex-col space-y-1">
                    <label for="eventStatus" class="text-atlas-neutrals-200 font-semibold">Event Status<span
                            class="text-atlas-red-400 font-thin">*</span></label>
                    <select id="eventStatus" formControlName="eventStatus"
                        [ngClass]="eventForm.get('eventStatus')?.touched && eventForm.get('eventStatus')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-10'"
                        class="bg-atlas-blue-50 rounded-atlas px-2 py-1 text-atlas-blue-400 border-2">
                        <option value=null>Select Event Status</option>
                        <option *ngFor="let status of eventStatuses" value="{{status}}">{{status}}</option>
                    </select>
                    <span *ngIf="eventForm.get('eventStatus')?.touched && eventForm.get('eventStatus')?.errors"
                        class="text-atlas-red-400 text-sm">This field is required</span>
                </div>

                <div class="my-auto">
                    <input type="checkbox" id="isRegistrationRequired" formControlName="isRegistrationRequired"
                        (change)="setRegistrationRequiredValidation($any($event.target).checked)" class="mr-1" />
                    <label for="isRegistrationRequired" class="text-atlas-neutrals-200 font-semibold">Registration
                        Required</label>
                </div>

                <div *ngIf="eventForm.get('isRegistrationRequired')?.value" class="flex flex-col space-y-1">
                    <label for="seatCapacity" class="text-atlas-neutrals-200 font-semibold">Seat Capacity<span
                            class="text-atlas-red-400 font-thin">*</span></label>
                    <input id="seatCapacity" type="number" min="0" formControlName="seatCapacity"
                        [ngClass]="eventForm.get('seatCapacity')?.touched && eventForm.get('seatCapacity')?.errors ? 'border-atlas-red-75':'border-atlas-neutrals-40'"
                        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                    <span
                        *ngIf="eventForm.get('seatCapacity')?.touched && eventForm.get('seatCapacity')?.errors?.['required']"
                        class="text-atlas-red-400 text-sm">This field is required</span>
                    <span
                        *ngIf="(eventForm.get('seatCapacity')?.touched && eventForm.get('seatCapacity')?.errors?.['min'])"
                        class="text-atlas-red-400 text-sm">Seat capacity must be greater than 0</span>
                </div>
            </div>
            <div *ngIf="eventForm.get('isRegistrationRequired')?.value" class="flex space-x-5">
                <div class="flex flex-col space-y-1 w-1/2">
                    <label class="text-atlas-neutrals-200 font-semibold">Registration start date & time<span
                            class="text-atlas-red-400 font-thin">*</span></label>
                    <div class="grid-cols-2 border-2 focus-within:border-atlas-blue-100" [ngClass]="(eventForm.get('registrationStartDate')?.touched 
                        && eventForm.get('registrationStartDate')?.errors) || (eventForm.get('registrationStartTime')?.touched 
                        && eventForm.get('registrationStartTime')?.errors)
                        ? 'border-atlas-red-75':'border-atlas-neutrals-40'">
                        <input placeholder="2/18/1993" type="date" formControlName="registrationStartDate"
                            class="bg-atlas-neutrals-20 focus:outline-none px-2 py-1 w-1/2" />
                        <input placeholder="1:00 PM" type="time" formControlName="registrationStartTime"
                            class="bg-atlas-neutrals-20 focus:outline-none px-2 py-1 w-1/2" />
                    </div>
                    <span
                        *ngIf="(eventForm.get('registrationStartDate')?.touched || eventForm.get('registrationStartTime')?.touched)
                        && (eventForm.get('registrationStartDate')?.errors?.['required'] || eventForm.get('registrationStartTime')?.errors?.['required'])"
                        class="text-atlas-red-400 text-sm">This field is required</span>
                </div>

                <div class="flex flex-col space-y-1 w-1/2">
                    <label class="text-atlas-neutrals-200 font-semibold">Registration end date & time<span
                            class="text-atlas-red-400 font-thin">*</span></label>
                    <div class="grid-cols-2 border-2 focus-within:border-atlas-blue-100" [ngClass]="(eventForm.get('registrationEndDate')?.touched 
                        && eventForm.get('registrationEndDate')?.errors) || (eventForm.get('registrationEndTime')?.touched 
                        && eventForm.get('registrationEndTime')?.errors)
                        ? 'border-atlas-red-75':'border-atlas-neutrals-40'">
                        <input placeholder="2/18/1993" type="date" formControlName="registrationEndDate"
                            class="bg-atlas-neutrals-20 focus:outline-none px-2 py-1 w-1/2" />
                        <input placeholder="1:00 PM" type="time" formControlName="registrationEndTime"
                            class="bg-atlas-neutrals-20 focus:outline-none px-2 py-1 w-1/2" />
                    </div>
                    <span
                        *ngIf="(eventForm.get('registrationEndDate')?.touched || eventForm.get('registrationEndTime')?.touched)
                        && (eventForm.get('registrationEndDate')?.errors?.['required'] || eventForm.get('registrationEndTime')?.errors?.['required'])"
                        class="text-atlas-red-400 text-sm">This field is required</span>
                </div>
            </div>
            <div class="flex space-x-5">
                <div class="flex flex-col space-y-1 w-1/2">
                    <label class="text-atlas-neutrals-200 font-semibold">Event start date & time<span
                            class="text-atlas-red-400 font-thin">*</span></label>
                    <div class="grid-cols-2 border-2 focus-within:border-atlas-blue-100" [ngClass]="(eventForm.get('eventStartDate')?.touched 
                        && eventForm.get('eventStartDate')?.errors) || (eventForm.get('eventStartTime')?.touched 
                        && eventForm.get('eventStartTime')?.errors)
                        ? 'border-atlas-red-75':'border-atlas-neutrals-40'">
                        <input placeholder="2/18/1993" type="date" [min]="currentDate" formControlName="eventStartDate"
                            class="bg-atlas-neutrals-20 focus:outline-none px-2 py-1 w-1/2" />
                        <input placeholder="1:00 PM" type="time" formControlName="eventStartTime"
                            class="bg-atlas-neutrals-20 focus:outline-none px-2 py-1 w-1/2" />
                    </div>
                    <span
                        *ngIf="(eventForm.get('eventStartDate')?.touched || eventForm.get('eventStartTime')?.touched)
                        && (eventForm.get('eventStartDate')?.errors?.['required'] || eventForm.get('eventStartTime')?.errors?.['required'])"
                        class="text-atlas-red-400 text-sm">This field is required</span>
                </div>

                <div class="flex flex-col space-y-1 w-1/2">
                    <label class="text-atlas-neutrals-200 font-semibold">Event end date & time<span
                            class="text-atlas-red-400 font-thin">*</span></label>
                    <div class="grid-cols-2 border-2 focus-within:border-atlas-blue-100" [ngClass]="(eventForm.get('eventEndDate')?.touched 
                    && eventForm.get('eventEndDate')?.errors) || (eventForm.get('eventEndTime')?.touched 
                    && eventForm.get('eventEndTime')?.errors)
                    ? 'border-atlas-red-75':'border-atlas-neutrals-40'">
                        <input placeholder="2/18/1993" type="date" formControlName="eventEndDate"
                            class="bg-atlas-neutrals-20 focus:outline-none px-2 py-1 w-1/2" />
                        <input placeholder="1:00 PM" type="time" formControlName="eventEndTime"
                            class="bg-atlas-neutrals-20 focus:outline-none px-2 py-1 w-1/2" />
                    </div>
                    <span
                        *ngIf="(eventForm.get('eventEndDate')?.touched || eventForm.get('eventEndTime')?.touched)
                        && (eventForm.get('eventEndDate')?.errors?.['required'] || eventForm.get('eventEndTime')?.errors?.['required'])"
                        class="text-atlas-red-400 text-sm">This field is required</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="flex justify-start space-x-5">
            <div>
                <label class="text-atlas-neutrals-500">Speakers</label>
                <button type="button" (click)="openAddSpeakersModal()"
                    class="flex space-x-2 my-auto px-4 py-1 bg-atlas-blue-400 text-white rounded-atlas hover:bg-atlas-blue-500">
                    <span class="material-icons-outlined">
                        add
                    </span>
                    <span class="text-sm my-auto">Add Persons</span>
                </button>
                <div *ngIf="selectedSpeakers?.length ?? 0 > 0" class="flex -space-x-2 mt-3">
                    <img *ngFor="let speaker of selectedSpeakers" src="{{speaker.dpUrl}}"
                        class="rounded-full w-8 h-8 border-2 border-atlas-neutrals-10" />
                </div>
            </div>
            <div>
                <label class="text-atlas-neutrals-500">Sponsors</label>
                <button type="button" (click)="openAddSponsorsModal()"
                    class="flex space-x-2 my-auto px-4 py-1 bg-atlas-blue-400 text-white rounded-atlas hover:bg-atlas-blue-500">
                    <span class="material-icons-outlined">
                        add
                    </span>
                    <span class="text-sm my-auto">Add Organizations</span>
                </button>
                <div *ngIf="selectedSponsors?.length ?? 0 > 0" class="flex -space-x-2 mt-3">
                    <img *ngFor="let sponsor of selectedSponsors" src="{{sponsor.logoUrl}}"
                        class="rounded-full w-8 h-8 border-2 border-atlas-neutrals-10" />
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="flex space-x-5">
            <div class="flex flex-col w-full">
                <label class="text-atlas-neutrals-500">Event Facebook URL<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <input placeholder="Paste Facebook Event URL" formControlName="facebookEventUrl"
                [ngClass]="eventForm.get('facebookEventUrl')?.touched && eventForm.get('facebookEventUrl')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-10'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span
                    *ngIf="eventForm.get('facebookEventUrl')?.touched && eventForm.get('facebookEventUrl')?.errors?.['required']"
                    class="text-atlas-red-400 text-sm">This field is required</span>
                <span
                    *ngIf="eventForm.get('facebookEventUrl')?.touched && eventForm.get('facebookEventUrl')?.errors?.['pattern']"
                    class="text-atlas-red-400 text-sm">Invalid URL</span>
            </div>
            <div class="flex flex-col w-full">
                <label class="text-atlas-neutrals-500">Event Location</label>
                <textarea placeholder="Paste Google Map Embed Code" formControlName="mapEmbedCode"
                [ngClass]="eventForm.get('mapEmbedCode')?.touched && eventForm.get('mapEmbedCode')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-10'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1"></textarea>
                <span
                    *ngIf="eventForm.get('mapEmbedCode')?.touched && eventForm.get('mapEmbedCode')?.errors?.['required']"
                    class="text-atlas-red-400 text-sm">This field is required</span>
                <span
                    *ngIf="eventForm.get('mapEmbedCode')?.touched && eventForm.get('mapEmbedCode')?.errors?.['invalidEmbedCode']"
                    class="text-atlas-red-400 text-sm">Invalid Embed Code. (Make sure there is 'src' sttribute)</span>
                </div>
            </div>
        </div>

</form>

<app-modal #addSpeakersModal [title]="'Select Speaker'">
    <div class="group relative px-3">
        <!-- <pre>{{(personSearchQuery$ | async) | json}}</pre> -->
        <!-- <pre>{{selectedSpeakers | json}}</pre> -->
        <input placeholder="Insert Speaker Name" (input)="onSpeakerSearchInput($any($event.target).value)"
            (focus)="onSpeakerSearchInput('')"
            class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 rounded-atlas px-2 py-1" />
        <div
            class="invisible group-focus-within:visible flex flex-col absolute shadow bg-white rounded-atlas py-2 space-y-2">
            <button type="button" *ngFor="let person of personSearchQueryResult?.data?.persons?.items"
                (click)="selectSpeaker(person)" class="flex justify-start space-x-3 px-3 py-1 hover:bg-atlas-blue-75">
                <img src="{{person?.dpUrl}}" class="rounded-full w-5 h-5 my-auto" alt="Person DP" />
                <h1 class="my-auto text-atlas-neutrals-800">{{person?.name}}</h1>
            </button>
        </div>

    </div>
    <div class="flex space-x-3 mt-3 pb-4 px-3 overflow-x-auto">
        <div *ngFor="let selectedSpeaker of selectedSpeakers"
            class="rounded-atlas shadow-lg bg-atlas-neutrals-30 p-3 grow-0 shrink-0">
            <div class="flex justify-end">
                <button type="button" (click)="removeSpeakerFromSelection(selectedSpeaker.id)"
                    class="text-atlas-neutrals-800 text-xs hover:text-atlas-neutrals-500">
                    <span class="material-icons-outlined -mt-2 -mr-2">
                        close
                    </span>
                </button>
            </div>
            <div class="text-center">
                <img src="{{selectedSpeaker?.dpUrl}}" class="rounded-full w-20 h-20 mx-auto" alt="Speaker DP" />
                <h1 class="text-atlas-neutrals-800">{{selectedSpeaker?.name}}</h1>
                <h4 class="text-atlas-neutrals-70 text-sm">{{selectedSpeaker?.organizationalRole}}</h4>
                <h6 class="text-atlas-neutrals-70 text-xs">{{selectedSpeaker?.organization?.name}}</h6>
            </div>
        </div>
    </div>
</app-modal>

<app-modal #addSponsorsModal [title]="'Select Sponsor'">
    <div class="group relative px-3">
        <!-- <pre>{{(organizationSearchQuery$ | async) | json}}</pre> -->
        <!-- <pre>{{selectedSpeakers | json}}</pre> -->
        <input placeholder="Insert Sponsor Name" (input)="onSponsorSearchInput($any($event.target).value)"
            (focus)="onSponsorSearchInput('')"
            class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 rounded-atlas px-2 py-1" />
        <div
            class="invisible group-focus-within:visible flex flex-col absolute shadow bg-white rounded-atlas py-2 space-y-2">
            <button type="button" *ngFor="let org of organizationSearchQueryResult?.data?.organizations?.items"
                (click)="selectSponsor(org)" class="flex justify-start space-x-3 px-3 py-1 hover:bg-atlas-blue-75">
                <img src="{{org?.logoUrl}}" class="rounded-full w-5 h-5 my-auto" alt="Org Logo" />
                <h1 class="my-auto text-atlas-neutrals-800">{{org?.name}}</h1>
            </button>
        </div>

    </div>
    <div class="flex space-x-3 mt-3 pb-4 px-3 overflow-x-auto">
        <div *ngFor="let selectedSponsor of selectedSponsors"
            class="rounded-atlas shadow-lg bg-atlas-neutrals-30 p-3 grow-0 shrink-0">
            <div class="flex justify-end">
                <button type="button" (click)="removeSponsorFromSelection(selectedSponsor.id)"
                    class="text-atlas-neutrals-800 text-xs hover:text-atlas-neutrals-500">
                    <span class="material-icons-outlined -mt-2 -mr-2">
                        close
                    </span>
                </button>
            </div>
            <div class="text-center">
                <img src="{{selectedSponsor?.logoUrl}}" class="rounded-full w-20 h-20 mx-auto" alt="Speaker DP" />
                <h1 class="text-atlas-neutrals-800">{{selectedSponsor?.name}}</h1>
            </div>
        </div>
    </div>
</app-modal>