<div [ngClass]="type==='info' ? 'bg-atlas-neutrals-500' : type==='success' ? 'bg-atlas-green-400' : type==='error' ? 'bg-atlas-red-400' : 'bg-atlas-yellow-200'"
    class="shadow-atlas rounded-atlas px-5 py-3 flex space-x-5 max-h-16">
    <span *ngIf="type==='info'" class="material-icons-outlined text-white">
        info
    </span>
    <span *ngIf="type==='success'" class="material-icons-outlined text-white">
        check
    </span>
    <span *ngIf="type==='error'" class="material-icons-outlined text-white">
        error_outline
    </span>
    <span *ngIf="type==='warning'" class="material-icons-outlined">
        warning_amber
    </span>
    <span [ngClass]="type != 'warning' ? 'text-white' : 'text-black'">{{message}}</span>
</div>