<!-- <pre>{{personDetailsQuery$ | async | json}}</pre> -->

<div class="flex justify-between mb-5">
    <h1 class="text-atlas-neutrals-200 my-auto text-sm">View Preson</h1>
    <div class="flex space-x-5">
        <a routerLink="/profiles/persons"
            class="my-auto px-4 py-1 rounded-atlas text-atlas-blue-400 hover:bg-atlas-blue-50 focus:bg-atlas-blue-75">
            Cancel
        </a>
    </div>
</div>

<ng-container *ngIf="personDetailsQueryResult?.data?.person as person; else error">
    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="flex space-x-5">
            <div class="my-auto w-1/3 relative">
                <img [src]="person?.dpUrl ?? './assets/dummy-dp.png'" alt="Cover" class="block w-full h-auto">
            </div>
            <div class="w-2/3 flex flex-col space-y-1">
                <label class="text-atlas-neutrals-200 font-semibold">Person Name</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{person?.name}}</label>
                <label class="text-atlas-neutrals-200 font-semibold">Person Email</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{person?.email}}</label>
                <label class="text-atlas-neutrals-200 font-semibold">Person Phone</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{person?.phoneNumber}}</label>
                <label class="text-atlas-neutrals-200 font-semibold">Status</label>
                <span class="px-1 rounded-atlas w-min" [ngClass]="person?.status === 'ACTIVE' ? 'bg-atlas-green-100 text-atlas-green-500'
                        : 'bg-atlas-red-75 text-atlas-neutrals-500'">
                    {{person?.status}}
                </span>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="grid grid-cols-2 gap-x-8 gap-y-2">
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Person Organization</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{person?.organization?.name}}</label>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Person Organizational Role</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{person?.organizationalRole}}</label>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="grid grid-cols-2 gap-x-8 gap-y-2">
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Git profile link</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{person?.git}}</label>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Person facebook profile</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{person?.facebook}}</label>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Person linkedin profile</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{person?.linkedIn}}</label>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Person twitter profile</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{person?.twitter}}</label>
            </div>
        </div>
    </div>

    <div *ngIf="personDetailsQueryResult?.data?.attendedAsSpeaker as eventsAttendedAsSpeaker"
        class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <label>Attended Events as Speaker ({{eventsAttendedAsSpeaker.totalCount}})</label>
        <div class="mt-3 grid grid-cols-5 gap-4">
            <div *ngFor="let event of eventsAttendedAsSpeaker.items"
                class="hover:shadow-atlas rounded-atlas shadow-arround">
                <img src="{{event?.bannerUrl}}" class="rounded-t-atlas" />
                <div class="p-3">
                    <h4 class="text-atlas-neutrals-700 font-bold text-xl">{{event?.title}}</h4>
                    <p class="font-thin text-xs text-justify">{{event?.about?.substring(0, 100)}}...</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #error>
    <!-- <app-flag [type]="'error'" [message]="personDetailsQueryResult?.errors"></app-flag> -->
</ng-template>