<!-- <pre>{{personQueryResult$ | async | json}}</pre> -->
<!-- <pre>{{eventStatusEnumQueryResult$ | async | json}}</pre> -->

<div class="flex justify-between mb-5">
    <h1 class="text-atlas-neutrals-200 my-auto text-sm">Events</h1>
    <a routerLink="create"
        class="flex space-x-2 my-auto px-4 py-1 bg-atlas-blue-400 text-white rounded-atlas hover:bg-atlas-blue-500">
        <span class="material-icons-outlined">
            cloud_download
        </span>
        <span class="text-sm my-auto">Export</span>
    </a>
</div>
<!-- <form [formGroup]="filterForm" class="w-full grid grid-cols-4 gap-1 mb-5">
    <input placeholder="Title" formControlName="title"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas" />
    <select formControlName="status"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas">
        <option value="0">Status</option>
        <option *ngFor="let statusKey of eventStatusKeys" value="{{statusKey}}">{{statusKey}}</option>
    </select>
    <input placeholder="Start Date" type="date" formControlName="startDate"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas" />
    <input placeholder="End Date" type="date" formControlName="endDate"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas" />
</form> -->

<ng-container *ngIf="registrationsQueryResult != null; else queryLoadingTemplate">
    <div *ngIf="registrationsQueryResult?.data?.eventRegistrations != null">
        <table class="table-auto w-full">
            <thead>
                <tr class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-200 text-left">
                    <th class="py-3">Name</th>
                    <th class="py-3">Email</th>
                    <th class="py-3">Phone Number</th>
                    <th class="py-3">Status</th>
                    <th class="py-3">Profession</th>
                    <th class="py-3">Organization</th>
                    <th class="py-3">Registered At</th>
                    <th class="py-3">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="registrationsQueryResult.data.eventRegistrations?.items?.length ?? 0 > 0; else noData">
                <tr *ngFor="let registration of registrationsQueryResult?.data?.eventRegistrations?.items"
                    class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-800">
                    <td class="py-3">{{registration?.name}}</td>
                    <td class="py-3">{{registration?.email}}</td>
                    <td class="py-3">{{registration?.phoneNumber}}</td>
                    <td class="py-3">
                        <span class="px-1 rounded-atlas" [ngClass]="registration?.status === registrationStatus.Confirmed ? 'bg-atlas-green-100 text-atlas-green-500'
                        : registration?.status === registrationStatus.Declined ? 'bg-atlas-red-75 text-atlas-neutrals-500' 
                        : 'bg-atlas-yellow-100 text-atlas-neutrals-500'">
                            {{registration?.status}}
                        </span>
                    </td>
                    <td class="py-3">{{registration?.profession}}</td>
                    <td class="py-3">{{registration?.organization}}</td>
                    <td class="py-3">{{registration?.registeredAt | date: 'dd-MM-yy hh:mm a'}}</td>
                    <td>
                        <div class="group relative">
                            <button
                                class="flex justify-center rounded-full h-8 w-8 hover:bg-atlas-neutrals-800 hover:bg-opacity-30 focus:bg-atlas-neutrals-800 focus:bg-opacity-30 hover:rounded-full focus:duration-200 focus:rotate-90">
                                <span class="material-icons-outlined my-auto">
                                    more_vert
                                </span>
                            </button>
                            <div tabindex="0"
                                class="border bg-white invisible shadow-md rounded-atlas w-30 absolute top-0 right-16 transition-all opacity-0 group-focus-within:visible group-focus-within:opacity-100 group-focus-within:translate-y-1">
                                <div *ngIf="registration?.status == registrationStatus.Pending" class="py-2">
                                    <button (click)="updateStatus(registration?.id, registrationStatus.Confirmed)"
                                        class="flex space-x-2 px-4 py-2 hover:bg-atlas-neutrals-40">
                                        <span class="material-icons-outlined my-auto">
                                            done
                                        </span>
                                        <span class="my-auto">Confirm</span>
                                    </button>
                                    <button (click)="updateStatus(registration?.id, registrationStatus.Declined)"
                                        class="flex space-x-2 px-4 py-2 hover:bg-atlas-neutrals-40">
                                        <span class="material-icons-outlined my-auto">
                                            motion_photos_off
                                        </span>
                                        <span class="my-auto">Decline</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <ng-template #noData>No registrations found</ng-template>
        </table>
        <div class="flex justify-end mt-8">
            <app-pagination [paginationData]="registrationsQueryResult?.data?.eventRegistrations?.pageInfo"
                [totalCount]="registrationsQueryResult?.data?.eventRegistrations?.totalCount" [pageSize]="pageSize" [currentPage]="currentPage"
                (onPageChange)="loadPage($event)"></app-pagination>
        </div>
    </div>
    <app-flag *ngIf="registrationsQueryResult?.errors as errors" [type]="'error'" [message]="errors[0]?.message"></app-flag>
</ng-container>
<ng-template #queryLoadingTemplate>
    Loading...
</ng-template>