<!-- <pre>{{personQueryResult$ | async | json}}</pre> -->
<!-- <pre>{{eventStatusEnumQueryResult$ | async | json}}</pre> -->

<div class="flex justify-between mb-5">
    <h1 class="text-atlas-neutrals-200 my-auto text-sm">Persons</h1>
    <a routerLink="create"
        class="flex space-x-2 my-auto px-4 py-1 bg-atlas-blue-400 text-white rounded-atlas hover:bg-atlas-blue-500">
        <span class="material-icons-outlined">
            add
        </span>
        <span class="text-sm my-auto">Create Person</span>
    </a>
</div>

<form [formGroup]="filterForm" class="w-full grid grid-cols-5 gap-1">
    <input placeholder="Name" formControlName="name"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas" />
    <input placeholder="Email" formControlName="email"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas" />
    <input placeholder="Organization" formControlName="organization"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas" />
    <input placeholder="Role" formControlName="organizationalRole"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas" />
    <select formControlName="status"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas">
        <option value=null>Status</option>
        <option *ngFor="let status of profileStatuses" value="{{status}}">{{status}}</option>
    </select>
</form>

<ng-container *ngIf="personsQueryResult; else queryLoadingTemplate">
    <div *ngIf="personsQueryResult?.data?.persons != null">
        <table class="table-auto w-full">
            <thead>
                <tr class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-200 text-left">
                    <th class="py-3">Name</th>
                    <th class="py-3">Email</th>
                    <th class="py-3">Status</th>
                    <th class="py-3">Organization</th>
                    <th class="py-3">Organization Role</th>
                    <th class="py-3">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="personsQueryResult.data.persons?.items?.length ?? 0 > 0; else noData">
                <tr *ngFor="let person of personsQueryResult?.data?.persons?.items"
                    class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-800">
                    <td class="py-3">
                        <div class="flex space-x-2">
                            <img class="w-6 h-6 rounded-full my-auto" src="{{person?.dpUrl ?? './assets/dummy-dp.png'}}" />
                            <span class="my-auto">{{person?.name}}</span>
                        </div>
                    </td>
                    <td class="py-3">{{person?.email}}</td>
                    <td class="py-3">
                        <span class="px-1 rounded-atlas" [ngClass]="person?.status === 'ACTIVE' ? 'bg-atlas-green-100 text-atlas-green-500'
                        : 'bg-atlas-red-75 text-atlas-neutrals-500'">
                            {{person?.status}}
                        </span>
                    </td>
                    <td class="py-3">{{person?.organization?.name}}</td>
                    <td class="py-3">{{person?.organizationalRole}}</td>
                    <td>
                        <div class="group relative">
                            <button
                                class="flex justify-center rounded-full h-8 w-8 hover:bg-atlas-neutrals-800 hover:bg-opacity-30 focus:bg-atlas-neutrals-800 focus:bg-opacity-30 hover:rounded-full focus:duration-200 focus:rotate-90">
                                <span class="material-icons-outlined my-auto">
                                    more_vert
                                </span>
                            </button>
                            <div tabindex="0"
                                class="border bg-white invisible shadow-md rounded-atlas w-30 absolute top-0 right-16 transition-all opacity-0 group-focus-within:visible group-focus-within:opacity-100 group-focus-within:translate-y-1">
                                <div class="py-2">
                                    <a routerLink="{{person?.id}}"
                                        class="flex space-x-2 px-4 py-2 hover:bg-atlas-neutrals-40">
                                        <span class="material-icons-outlined my-auto">
                                            visibility
                                        </span>
                                        <span class="my-auto">View</span>
                                    </a>
                                    <a routerLink="update/{{person?.id}}"
                                        class="flex space-x-2 px-4 py-2 hover:bg-atlas-neutrals-40">
                                        <span class="material-icons-outlined my-auto">
                                            edit
                                        </span>
                                        <span class="my-auto">Update</span>
                                    </a>
                                    <button *ngIf="person?.status == 'INACTIVE'"
                                    (click)="updateStatus(person?.id, profileStatus.Active)"
                                        class="flex space-x-2 px-4 py-2 hover:bg-atlas-neutrals-40">
                                        <span class="material-icons-outlined my-auto">
                                            done
                                        </span>
                                        <span class="my-auto">Active</span>
                                    </button>
                                    <button *ngIf="person?.status == 'ACTIVE'"
                                    (click)="updateStatus(person?.id, profileStatus.Inactive)"
                                        class="flex space-x-2 px-4 py-2 hover:bg-atlas-neutrals-40">
                                        <span class="material-icons-outlined my-auto">
                                            motion_photos_off
                                        </span>
                                        <span class="my-auto">Inactive</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <ng-template #noData>No data found</ng-template>
        </table>
        <div class="flex justify-end mt-8">
            <app-pagination [paginationData]="personsQueryResult?.data?.persons?.pageInfo"
                [totalCount]="personsQueryResult?.data?.persons?.totalCount" [pageSize]="pageSize" [currentPage]="currentPage"
                (onPageChange)="loadPage($event)"></app-pagination>
        </div>
    </div>
    <app-flag *ngIf="personsQueryResult?.errors as errors" [type]="'error'" [message]="errors[0]?.message"></app-flag>
</ng-container>
<ng-template #queryLoadingTemplate>
    Loading...
</ng-template>