@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

body{
    font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;