<!-- <pre>{{personForm.value | json}}</pre> -->
<!-- <pre>{{personForm.valid | json}}</pre> -->
<!-- <pre>{{dpUrl | json}}</pre> -->

<form [formGroup]="personForm" (submit)="onFormSubmit()">
    <div class="flex justify-between mb-5">
        <h1 class="text-atlas-neutrals-200 my-auto text-sm">Create Preson</h1>
        <div class="flex space-x-5">
            <a routerLink="/profiles/persons"
                class="my-auto px-4 py-1 rounded-atlas text-atlas-blue-400 hover:bg-atlas-blue-50 focus:bg-atlas-blue-75">
                Cancel
            </a>
            <button type="submit" [disabled]="!personForm.valid || !dpUrl"
                [ngClass]="!personForm.valid || !dpUrl ? 'bg-neutral-500' : 'bg-atlas-blue-400 hover:bg-atlas-blue-500'"
                class="my-auto px-4 py-1 text-white rounded-atlas">
                Submit
            </button>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="flex space-x-5">
            <div class="my-auto w-1/3">
                <label class="text-atlas-neutrals-200 font-semibold">Display Picture<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <div class="relative">
                    <input type="file" #coverImageInput (change)="onDpChange($event)"
                        accept="image/png, image/gif, image/jpeg" class="hidden" />
                    <img [src]="dpUrl ?? './assets/dummy-dp.png'" alt="Cover" class="block w-full h-auto">
                    <div
                        class="absolute top-0 bottom-0 left-0 right-0 w-full h-full opacity-0 bg-atlas-blue-75 hover:opacity-60 text-center">
                        <button type="button" (click)="coverImageInput.click()" class="w-full h-full">
                            <span class="material-icons-outlined text-5xl">
                                cloud_upload
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="w-2/3 flex flex-col space-y-1">

                <label class="text-atlas-neutrals-200 font-semibold">Person Name<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <input placeholder="Enter person name" formControlName="name" required
                    [ngClass]="personForm.get('name')?.touched && personForm.get('name')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="personForm.get('name')?.touched && personForm.get('name')?.errors?.['required']"
                    class="text-sm text-red-400">
                    This field is required.
                </span>
                <span
                    *ngIf="personForm.get('name')?.touched && (personForm.get('name')?.errors?.['minlength'] || personForm.get('name')?.errors?.['maxlength'])"
                    class="text-sm text-red-400">
                    This field's length must be beetween 3 to 50 character long
                </span>
                <span *ngIf="personForm.get('name')?.touched && personForm.get('name')?.errors?.['pattern']"
                    class="text-sm text-red-400">
                    This field accepts only A-Z and a-z
                </span>

                <label class="text-atlas-neutrals-200 font-semibold">Person Email<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <input placeholder="Enter person email" formControlName="email"
                    [ngClass]="personForm.get('email')?.touched && personForm.get('email')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="personForm.get('email')?.touched && personForm.get('email')?.errors?.['required']"
                    class="text-sm text-red-400">
                    This field is required.
                </span>
                <span *ngIf="personForm.get('email')?.touched && personForm.get('email')?.errors?.['email']"
                    class="text-sm text-red-400">
                    Email address not valid
                </span>

                <label class="text-atlas-neutrals-200 font-semibold">Person Phone<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <input placeholder="Enter person phone" formControlName="phoneNumber"
                    [ngClass]="personForm.get('phoneNumber')?.touched && personForm.get('phoneNumber')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span
                    *ngIf="personForm.get('phoneNumber')?.touched && personForm.get('phoneNumber')?.errors?.['required']"
                    class="text-sm text-red-400">
                    This field is required.
                </span>
                <span
                    *ngIf="personForm.get('phoneNumber')?.touched && personForm.get('phoneNumber')?.errors?.['invalidBdMobileNumber']"
                    class="text-sm text-red-400">
                    Mobile number not valid.
                </span>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="grid grid-cols-2 gap-x-8 gap-y-2">
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Person Organization</label>
                <div class="group relative">
                    <input placeholder="Insert person organization" formControlName="organizationName"
                        (input)="onOrgInput($any($event.target).value)" (focus)="onOrgInput('')"
                        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 rounded-atlas px-2 py-1" />
                    <div *ngIf="organizationSearchQueryResult?.data as queryResultData"
                        class="invisible group-focus-within:visible flex flex-col absolute shadow bg-white rounded-atlas py-2 space-y-2">
                        <button type="button" *ngFor="let org of queryResultData?.organizations?.items"
                            (click)="onOrganizationSelect(org)"
                            class="flex justify-start space-x-3 px-3 py-1 hover:bg-atlas-blue-75">
                            <img src="{{org?.logoUrl}}" class="rounded-full w-5 h-5 my-auto" alt="Org Logo" />
                            <h1 class="my-auto text-atlas-neutrals-800">{{org?.name}}</h1>
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Person Organizational Role</label>
                <input placeholder="Insert person organizational role" formControlName="organizationalRole"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 rounded-atlas px-2 py-1" />
            </div>
            <div class="flex space-x-2">
                <label class="text-atlas-neutrals-200 font-semibold">Status<span
                        class="text-atlas-red-400 font-thin">*</span></label>
                <div class="flex flex-col">
                    <select formControlName="status"
                        class="bg-atlas-blue-50 rounded-atlas px-2 py-1 text-atlas-blue-400">
                        <option value=null>Select Status</option>
                        <option *ngFor="let status of profileStatuses" value="{{status}}">{{status}}</option>
                    </select>
                    <span *ngIf="personForm.get('status')?.touched && personForm.get('status')?.errors"
                        class="text-sm text-red-400">
                        This field is required.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="grid grid-cols-2 gap-x-8 gap-y-2">
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Git profile link</label>
                <input placeholder="Insert person git link" formControlName="git" type="url"
                    [ngClass]="personForm.get('git')?.touched && personForm.get('git')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="personForm.get('git')?.touched && personForm.get('git')?.errors?.['pattern']"
                    class="text-sm text-red-400">
                    Invalid url
                </span>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Person facebook profile</label>
                <input placeholder="Insert person facebook profile link" formControlName="facebook"
                    [ngClass]="personForm.get('facebook')?.touched && personForm.get('facebook')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="personForm.get('facebook')?.touched && personForm.get('facebook')?.errors?.['pattern']"
                    class="text-sm text-red-400">
                    Invalid url
                </span>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Person linkedin profile</label>
                <input placeholder="Insert linkedin profile link" formControlName="linkedIn"
                    [ngClass]="personForm.get('linkedIn')?.touched && personForm.get('linkedIn')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="personForm.get('linkedIn')?.touched && personForm.get('linkedIn')?.errors?.['pattern']"
                    class="text-sm text-red-400">
                    Invalid url
                </span>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Person twitter profile</label>
                <input placeholder="Insert twitter profile link" formControlName="twitter"
                    [ngClass]="personForm.get('twitter')?.touched && personForm.get('twitter')?.errors ? 'border-atlas-red-75' : 'border-atlas-neutrals-40'"
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1" />
                <span *ngIf="personForm.get('twitter')?.touched && personForm.get('twitter')?.errors?.['pattern']"
                    class="text-sm text-red-400">
                    Invalid url
                </span>
            </div>
        </div>
    </div>
</form>