<!-- <div *ngIf="(eventDetailsQuery$ | async) as eventDetails">
    <pre>Whole: {{eventDetails | json}}</pre>
    <pre>Data: {{eventDetails?.data| json}}</pre>
    <pre>Error: {{eventDetails?.error| json}}</pre>
    <pre>Errors: {{eventDetails?.errors| json}}</pre>
    <pre>Loading: {{eventDetails?.loading| json}}</pre>
    <pre>network: {{eventDetails?.networkStatus| json}}</pre>
</div> -->

<div class="flex justify-between mb-5">
    <h1 class="text-atlas-neutrals-200 my-auto text-sm">Event Details</h1>
    <a routerLink="create"
        class="flex space-x-2 my-auto px-4 py-1 bg-atlas-blue-400 text-white rounded-atlas hover:bg-atlas-blue-500">
        <span class="material-icons-outlined">
            assignment_ind
        </span>
        <a routerLink="registrations" class="text-sm my-auto">View Registrations</a>
    </a>
</div>

<ng-container *ngIf="eventDetailsQueryResult?.data?.event as event; else error">
    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="flex space-x-5">
            <div class="my-auto w-1/3 relative">
                <img [src]="event.bannerUrl ?? './assets/dummy-banner.png'" alt="Cover"
                    class="block w-full h-auto rounded-atlas" />
            </div>
            <div class="w-2/3 flex flex-col space-y-1">
                <label class="text-atlas-neutrals-200 font-semibold">{{event.title}}</label>
                <p class="text-atlas-neutrals-200 text-justify p-3">{{event.about}}</p>
            </div>
        </div>
    </div>
    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div [innerHTML]="event.description"></div>
    </div>
    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="grid grid-cols-4 gap-4">
            <label class="text-atlas-neutrals-200"><span class="font-semibold">Type:</span> {{event.type}}</label>
            <label class="text-atlas-neutrals-200"><span class="font-semibold">Status:</span> {{event.status}}</label>
            <label class="text-atlas-neutrals-200"><span class="font-semibold">Seat capacity:</span>
                {{event.seatCapacity ?? 'N/A'}}</label>
            <label class="text-atlas-neutrals-200"><span class="font-semibold">Registration:</span>
                {{event.isRegistrationRequired ?
                'Required' : 'Not Required'}}</label>
            <label class="text-atlas-neutrals-200"><span class="font-semibold">Event Start date time:</span>
                {{(event.eventStartDateTime | date:
                'dd MMM yyyy hh:mm a') ?? 'N/A'}}</label>
            <label class="text-atlas-neutrals-200"><span class="font-semibold">Event End date time:</span>
                {{(event.eventEndDateTime | date:
                'dd MMM yyyy hh:mm a') ?? 'N/A'}}</label>
            <label class="text-atlas-neutrals-200"><span class="font-semibold">Registration Start date time:</span>
                {{(event.registrationStartDateTime
                | date: 'dd MMM yyyy hh:mm a') ?? 'N/A'}}</label>
            <label class="text-atlas-neutrals-200"><span class="font-semibold">Registration End date time:</span>
                {{(event.registrationEndDateTime |
                date: 'dd MMM yyyy hh:mm a') ?? 'N/A'}}</label>
        </div>
    </div>
    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        Speakers:
        <div class="flex space-x-3 mt-3 pb-4 px-3 overflow-x-auto">
            <div *ngFor="let speaker of event.speakers"
                class="rounded-atlas shadow-lg bg-atlas-neutrals-30 p-3 grow-0 shrink-0">
                <div class="text-center">
                    <img src="{{speaker?.profile?.dpUrl ?? './assets/dummy-dp.png'}}"
                        class="rounded-full w-20 h-20 mx-auto" alt="Speaker DP" />
                    <h1 class="text-atlas-neutrals-800">{{speaker?.profile?.name}}</h1>
                    <h4 class="text-atlas-neutrals-70 text-sm">{{speaker?.profile?.organization?.name}}</h4>
                    <h6 class="text-atlas-neutrals-70 text-xs">{{speaker?.profile?.organizationalRole}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        Sponsors:
        <div class="flex space-x-3 mt-3 pb-4 px-3 overflow-x-auto">
            <div *ngFor="let sponsor of event.sponsors"
                class="rounded-atlas shadow-lg bg-atlas-neutrals-30 p-3 grow-0 shrink-0">
                <div class="text-center">
                    <img src="{{sponsor?.profile?.logoUrl ?? './assets/dummy-logo.png'}}"
                        class="rounded-full w-20 h-20 mx-auto" alt="Speaker DP" />
                    <h1 class="text-atlas-neutrals-800">{{sponsor?.profile?.name}}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        Location:
        <iframe [src]="event?.mapEmbedUrl ?? '' | safeUrl" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</ng-container>
<ng-template #error>

</ng-template>