<!-- <pre>{{upcommingEventsQuery$ | async | json}}</pre> -->

<div class="shadow-arround px-3 py-5 bg-atlas-neutrals-10 rounded-atlas mb-5">
    <div class="flex justify-between w-full mb-3">
        <h4 class="text-atlas-neutrals-600 font-bold my-auto">Upcoming Events</h4>
        <a routerLink="/events"
            class="text-atlas-neutrals-600 font-bold px-5 py-2 hover:bg-atlas-blue-50 rounded-atlas my-auto">View
            All</a>
    </div>
    <table class="table-auto w-full">
        <thead>
            <tr class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-200 text-left">
                <th class="py-3">Event Title</th>
                <th class="py-3">Event Date</th>
                <th class="py-3">Registration Date</th>
                <th class="py-3">Total Seats</th>
                <th class="py-3">Total Registration</th>
                <th class="py-3">Confirmed Registration</th>
                <th class="py-3">Avaiable Seats</th>
            </tr>
        </thead>
        <ng-container *ngIf="dashboardDataQueryResult?.data?.upcomingEvents as upcomingEvents; else noData">
            <tr *ngFor="let event of upcomingEvents?.items"
                class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-800">
                <td class="py-3">{{event?.title}}</td>
                <td class="py-3">{{event?.eventStartDateTime | date:'dd/MMM/yy hh:mm'}} - {{event?.eventEndDateTime |
                    date:'dd/MMM/yy hh:mm'}}</td>
                <td class="py-3">{{event?.registrationStartDateTime | date:'dd/MMM/yy'}} -
                    {{event?.registrationEndDateTime
                    | date:'dd/MMM/yy'}}</td>
                <td class="py-3">{{event?.seatCapacity ?? 'N/A'}}</td>
                <td class="py-3">{{event?.registrations?.totalCount ?? 'N/A'}}</td>
                <td class="py-3">{{event?.confirmedRegistrations?.totalCount ?? 'N/A'}}</td>
                <td class="py-3">{{(event?.seatCapacity ?? 0) - (event?.confirmedRegistrations?.totalCount ?? 0)}}</td>
            </tr>
        </ng-container>
        <ng-template #noData>
            <tr class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-800">
                <td class="py-3">No Events Found</td>
            </tr>
        </ng-template>
    </table>
</div>

<div class="shadow-arround px-3 py-5 bg-atlas-neutrals-10 rounded-atlas mb-5">
    <div class="flex justify-between w-full mb-3">
        <h4 class="text-atlas-neutrals-600 font-bold my-auto">Prevous Events</h4>
        <a routerLink="/events"
            class="text-atlas-neutrals-600 font-bold px-5 py-2 hover:bg-atlas-blue-50 rounded-atlas my-auto">View
            All</a>
    </div>
    <table class="table-auto w-full">
        <thead>
            <tr class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-200 text-left">
                <th class="py-3">Event Title</th>
                <th class="py-3">Event Date</th>
                <th class="py-3">Registration Date</th>
                <th class="py-3">Total Seats</th>
                <th class="py-3">Total Registration</th>
                <th class="py-3">Confirmed Registration</th>
                <th class="py-3">Avaiable Seats</th>
            </tr>
        </thead>
        <ng-container *ngIf="dashboardDataQueryResult?.data?.previousEvents as previousEvents; else noData">
            <tr *ngFor="let event of previousEvents.items"
                class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-800">
                <td class="py-3">{{event?.title}}</td>
                <td class="py-3">{{event?.eventStartDateTime | date:'dd/MMM/yy hh:mm'}} - {{event?.eventEndDateTime |
                    date:'dd/MMM/yy hh:mm'}}</td>
                <td class="py-3">{{event?.registrationStartDateTime | date:'dd/MMM/yy'}} -
                    {{event?.registrationEndDateTime
                    | date:'dd/MMM/yy'}}</td>
                <td class="py-3">{{event?.seatCapacity ?? 'N/A'}}</td>
                <td class="py-3">{{event?.registrations?.totalCount ?? 'N/A'}}</td>
                <td class="py-3">{{event?.confirmedRegistrations?.totalCount ?? 'N/A'}}</td>
                <td class="py-3">{{(event?.seatCapacity ?? 0) - (event?.confirmedRegistrations?.totalCount ?? 0)}}</td>
            </tr>
        </ng-container>
        <ng-template #noData>
            <tr class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-800">
                <td class="py-3">No Events Found</td>
            </tr>
        </ng-template>
    </table>
</div>

<div class="flex space-x-5 justify-start">
    <div class="shadow-arround px-3 py-5 bg-atlas-neutrals-10 rounded-atlas mb-5">
        <h4 class="text-atlas-neutrals-600 font-bold mb-3">Popupar Speakers</h4>
        <div *ngFor="let speaker of dashboardDataQueryResult?.data?.popularSpeakers?.items"
            class="flex justify-start space-x-3 my-2">
            <img src="{{speaker?.dpUrl}}" class="w-6 h-6 rounded-full" />
            <h5>{{speaker?.name}}</h5>
        </div>
    </div>
    <div class="shadow-arround px-3 py-5 bg-atlas-neutrals-10 rounded-atlas mb-5">
        <h4 class="text-atlas-neutrals-600 font-bold mb-3">Popupar Sponsors</h4>
        <div *ngFor="let sponsor of dashboardDataQueryResult?.data?.popularSponsors?.items"
            class="flex justify-start space-x-3 my-2">
            <img src="{{sponsor?.logoUrl}}" class="w-6 h-6 rounded-full" />
            <h5>{{sponsor?.name}}</h5>
        </div>
    </div>
</div>