<!-- <pre>{{personQueryResult$ | async | json}}</pre> -->
<!-- <pre>{{eventStatusEnumQueryResult$ | async | json}}</pre> -->

<div class="flex justify-between mb-5">
    <h1 class="text-atlas-neutrals-200 my-auto text-sm">Events</h1>
    <a routerLink="create"
        class="flex space-x-2 my-auto px-4 py-1 bg-atlas-blue-400 text-white rounded-atlas hover:bg-atlas-blue-500">
        <span class="material-icons-outlined">
            add
        </span>
        <span class="text-sm my-auto">Create Event</span>
    </a>
</div>
<form [formGroup]="filterForm" class="w-full grid grid-cols-4 gap-1 mb-5">
    <input placeholder="Title" formControlName="title"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas" />
    <select formControlName="status"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas">
        <option value=null>Status</option>
        <option *ngFor="let status of eventStatuses" value="{{status}}">{{status}}</option>
    </select>
    <input placeholder="Start Date" type="date" formControlName="startDate"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas" />
    <input placeholder="End Date" type="date" formControlName="endDate"
        class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 border-atlas-neutrals-40 px-2 py-1 rounded-atlas" />
</form>
<ng-container *ngIf="eventsQueryResult != null && !eventsQueryResult?.loading; else queryLoadingTemplate">
    <div *ngIf="eventsQueryResult?.data?.events != null">
        <table class="table-auto w-full">
            <thead>
                <tr class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-200 text-left">
                    <th class="py-3">Event Title</th>
                    <th class="py-3">Event Status</th>
                    <th class="py-3">Rgistration Date</th>
                    <th class="py-3">Event Date</th>
                    <th class="py-3">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="eventsQueryResult.data.events?.items?.length ?? 0 > 0; else noEvents">
                <tr *ngFor="let event of eventsQueryResult?.data?.events?.items"
                    class="border-b-2 border-atlas-neutrals-40 text-sm text-atlas-neutrals-800">
                    <td class="py-3">{{event?.title}}</td>
                    <td class="py-3">
                        <span class="px-1 rounded-atlas" [ngClass]="event?.status === 'ACTIVE' ? 'bg-atlas-green-100 text-atlas-green-500'
                        : event?.status === 'INACTIVE' ? 'bg-atlas-red-75 text-atlas-neutrals-500' 
                        : 'bg-atlas-yellow-100 text-atlas-neutrals-500'">
                            {{event?.status}}
                        </span>
                    </td>
                    <td class="py-3">{{event?.registrationStartDateTime | date: 'dd MMM yyyy'}} -
                        {{event?.registrationEndDateTime |
                        date: 'dd MMM yyyy'}}</td>
                    <td class="py-3">{{event?.eventStartDateTime | date: 'dd MMM yyyy hh:mm'}} -
                        {{event?.eventEndDateTime |
                        date: 'dd MMM yyyy hh:mm'}}</td>
                    <td>
                        <div class="group relative">
                            <button
                                class="flex justify-center rounded-full h-8 w-8 hover:bg-atlas-neutrals-800 hover:bg-opacity-30 focus:bg-atlas-neutrals-800 focus:bg-opacity-30 hover:rounded-full focus:duration-200 focus:rotate-90">
                                <span class="material-icons-outlined my-auto">
                                    more_vert
                                </span>
                            </button>
                            <div tabindex="0"
                                class="border bg-white invisible shadow-md rounded-atlas w-30 absolute top-0 right-16 transition-all opacity-0 group-focus-within:visible group-focus-within:opacity-100 group-focus-within:translate-y-1">
                                <div class="py-2">
                                    <a routerLink="{{event?.id}}"
                                        class="flex space-x-2 px-4 py-2 hover:bg-atlas-neutrals-40">
                                        <span class="material-icons-outlined my-auto">
                                            visibility
                                        </span>
                                        <span class="my-auto">View</span>
                                    </a>
                                    <a routerLink="update/{{event?.id}}"
                                        class="flex space-x-2 px-4 py-2 hover:bg-atlas-neutrals-40">
                                        <span class="material-icons-outlined my-auto">
                                            edit
                                        </span>
                                        <span class="my-auto">Update</span>
                                    </a>
                                    <button *ngIf="event?.status == 'INACTIVE'"
                                    (click)="updateStatus(event?.id, eventStatus.Active)"
                                        class="flex space-x-2 px-4 py-2 hover:bg-atlas-neutrals-40">
                                        <span class="material-icons-outlined my-auto">
                                            done
                                        </span>
                                        <span class="my-auto">Active</span>
                                    </button>
                                    <button *ngIf="event?.status == 'ACTIVE'"
                                    (click)="updateStatus(event?.id, eventStatus.Inactive)"
                                        class="flex space-x-2 px-4 py-2 hover:bg-atlas-neutrals-40">
                                        <span class="material-icons-outlined my-auto">
                                            motion_photos_off
                                        </span>
                                        <span class="my-auto">Inactive</span>
                                    </button>
                                    <a *ngIf="event?.status === 'ACTIVE'" routerLink="{{event?.id}}/registrations"
                                        class="flex space-x-2 px-4 py-2 hover:bg-atlas-neutrals-40">
                                        <span class="material-icons-outlined my-auto">
                                            assignment_ind
                                        </span>
                                        <span class="my-auto">View Registrations</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <ng-template #noEvents>No events found</ng-template>
        </table>
        <div class="flex justify-end mt-8">
            <app-pagination [paginationData]="eventsQueryResult?.data?.events?.pageInfo"
                [totalCount]="eventsQueryResult?.data?.events?.totalCount" [pageSize]="pageSize" [currentPage]="currentPage"
                (onPageChange)="loadPage($event)"></app-pagination>
        </div>
    </div>
    <app-flag *ngIf="eventsQueryResult?.errors as errors" [type]="'error'" [message]="errors[0]?.message"></app-flag>
</ng-container>
<ng-template #queryLoadingTemplate>
    Loading...
</ng-template>