<!-- <pre>{{orgDetailsQuery$ | async | json}}</pre> -->

<div class="flex justify-between mb-5">
    <h1 class="text-atlas-neutrals-200 my-auto text-sm">View Organization</h1>
    <div class="flex space-x-5">
        <a routerLink="/profiles/organizations"
            class="my-auto px-4 py-1 rounded-atlas text-atlas-blue-400 hover:bg-atlas-blue-50 focus:bg-atlas-blue-75">
            Cancel
        </a>
    </div>
</div>
<ng-container *ngIf="orgDetailsQueryResult?.data?.organization as orgDetails; else error">
    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="flex space-x-5">
            <div class="my-auto w-1/3 relative">
                <img [src]="orgDetails.logoUrl ?? './assets/dummy-dp.png'" alt="Cover"
                    class="block w-full h-auto">
            </div>
            <div class="w-2/3 flex flex-col space-y-1">
                <label class="text-atlas-neutrals-200 font-semibold">Organization Name</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{orgDetails.name}}</label>
                <label class="text-atlas-neutrals-200 font-semibold">Organization Email</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{orgDetails.email}}</label>
                <label class="text-atlas-neutrals-200 font-semibold">Organization Phone</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{orgDetails.phoneNumber}}</label>
                <label class="text-atlas-neutrals-200 font-semibold">Status</label>
                <span class="px-1 rounded-atlas w-min" [ngClass]="orgDetails.status === 'ACTIVE' ? 'bg-atlas-green-100 text-atlas-green-500'
                        : 'bg-atlas-red-75 text-atlas-neutrals-500'">
                    {{orgDetails.status}}
                </span>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="grid grid-cols-2 gap-x-8 gap-y-2">
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Contact Person Name</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{orgDetails.contactPersonName}}</label>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Contact Person Phone</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{orgDetails.contactPersonPhone}}</label>
            </div>
        </div>
    </div>

    <div class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <div class="grid grid-cols-2 gap-x-8 gap-y-2">
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Website</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{orgDetails.website}}</label>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">Facebook</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{orgDetails.facebook}}</label>
            </div>
            <div class="flex flex-col">
                <label class="text-atlas-neutrals-200 font-semibold">LinkedIn</label>
                <label
                    class="bg-atlas-neutrals-10 focus:outline-none focus:border-atlas-blue-100 border-2 rounded-atlas px-2 py-1">
                    {{orgDetails.linkedIn}}</label>
            </div>
        </div>
    </div>

    <div *ngIf="orgDetailsQueryResult?.data?.sponsoredEvents as sponsoredEvents"
        class="mb-3 px-3 py-5 rounded-atlas shadow-arround bg-atlas-neutrals-10">
        <label>Sponsored Events ({{sponsoredEvents.totalCount}})</label>
        <div class="mt-3 grid grid-cols-5 gap-4">
            <div *ngFor="let event of sponsoredEvents.items"
                class="hover:shadow-atlas rounded-atlas shadow-arround">
                <img src="{{event?.bannerUrl}}" class="rounded-t-atlas" />
                <div class="p-3">
                    <h4 class="text-atlas-neutrals-700 font-bold text-xl">{{event?.title}}</h4>
                    <p class="font-thin text-xs text-justify">{{event?.about?.substring(0, 100)}}...</p>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #error>
    
</ng-template>