<ng-container *ngIf="isAuthenticated; then authorizedTemplate; else unauthorizedTemplate"></ng-container>

<ng-template #authorizedTemplate>
    <header class="px-6 py-3 flex justify-between bg-white shadow-md sticky top-0 z-50">
        <div class="flex my-auto space-x-3">
            <button (click)="isSidebarCollapsed = !isSidebarCollapsed" class="my-auto text-atlas-neutrals-600">
                <span class="material-icons-outlined">
                    apps
                </span>
            </button>
            <svg class="fill-atlas-blue-400" width="73" height="30" viewBox="0 0 73 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_482_488)">
                    <path
                        d="M41.2803 4.37024H40.9061C40.9061 4.0757 40.8855 3.64964 40.8445 3.09205C40.8035 2.53461 40.7817 2.20028 40.7791 2.08931H40.7592C40.6266 2.51869 40.4586 2.98473 40.2551 3.48741C40.0516 3.99009 39.9499 4.28436 39.9499 4.37019H39.6812C39.6812 4.27776 39.5864 3.97821 39.3969 3.47159C39.2073 2.96498 39.0873 2.62574 39.0369 2.45396C38.9865 2.28228 38.952 2.16069 38.9335 2.08931H38.9136C38.9096 2.2703 38.8834 2.63561 38.8351 3.18519C38.7868 3.73477 38.7627 4.12981 38.7627 4.37019H38.4204C38.4204 4.35704 38.4655 3.99337 38.5556 3.27932C38.6457 2.56527 38.6907 2.0689 38.6907 1.79009H39.2141C39.2141 1.93541 39.3201 2.29881 39.5322 2.88003C39.7443 3.46134 39.8503 3.81336 39.8503 3.93622H39.8702C39.8702 3.81336 39.9895 3.46031 40.2281 2.87708C40.4666 2.29384 40.586 1.93148 40.586 1.79004H41.0975C41.0975 2.06885 41.1279 2.56297 41.1888 3.27234C41.2498 3.98172 41.2803 4.34778 41.2803 4.37024Z" />
                    <path
                        d="M42.2436 4.37023H41.8709C41.8895 4.10621 41.8987 3.80455 41.8987 3.46522C41.8987 3.08366 41.8755 2.76352 41.8291 2.50474L42.2397 2.45124C42.2237 2.7272 42.2158 3.06518 42.2158 3.46522C42.2158 3.78208 42.2251 4.08374 42.2436 4.37023ZM42.3157 1.89024C42.3157 1.95796 42.2938 2.01675 42.2502 2.0665C42.2065 2.1163 42.1452 2.1412 42.0659 2.1412C41.9984 2.1412 41.9458 2.11963 41.9083 2.07647C41.8705 2.03332 41.8517 1.98123 41.8517 1.92015C41.8517 1.85378 41.8742 1.79602 41.9191 1.74683C41.9641 1.69773 42.0262 1.67316 42.1056 1.67316C42.1703 1.67316 42.2215 1.69473 42.2592 1.73789C42.2968 1.78099 42.3157 1.83182 42.3157 1.89024Z" />
                    <path
                        d="M44.2082 4.06602L44.1883 4.33168C44.0811 4.39248 43.9374 4.4229 43.7574 4.4229C43.4145 4.4229 43.1523 4.32822 42.971 4.1388C42.7896 3.94938 42.699 3.72092 42.699 3.4533C42.699 3.16989 42.7942 2.92618 42.9847 2.72216C43.1752 2.51823 43.4273 2.4162 43.741 2.4162C43.8984 2.4162 44.0267 2.43202 44.126 2.46357L44.0726 2.77308C43.9343 2.72244 43.7941 2.69703 43.6518 2.69703C43.4649 2.69703 43.3161 2.76283 43.2055 2.8944C43.0948 3.02597 43.0396 3.19068 43.0396 3.38871C43.0396 3.60401 43.1054 3.78336 43.2373 3.92687C43.3691 4.07037 43.5556 4.14217 43.7969 4.14217C43.8958 4.14207 44.0328 4.11675 44.2082 4.06602Z" />
                    <path
                        d="M45.8021 2.48249L45.7139 2.80226C45.6118 2.75939 45.517 2.73791 45.4293 2.73791C45.1834 2.73791 45.0238 2.85618 44.9506 3.09278C44.9506 3.70208 44.9546 4.12786 44.9626 4.37022H44.6017C44.6229 3.95136 44.6335 3.62621 44.6335 3.3949C44.6335 3.08173 44.6023 2.78176 44.54 2.4949L44.8958 2.44533C44.9216 2.5893 44.9347 2.68548 44.9347 2.73383H44.9504C45.0917 2.52204 45.2565 2.41608 45.4449 2.41608C45.5444 2.41612 45.6634 2.43826 45.8021 2.48249Z" />
                    <path
                        d="M47.8643 3.36991C47.8643 3.70831 47.767 3.97233 47.5722 4.16194C47.3775 4.35155 47.1485 4.44633 46.885 4.44633C46.6386 4.44633 46.427 4.36241 46.2503 4.19456C46.0735 4.02672 45.9851 3.79022 45.9851 3.48491C45.9851 3.14394 46.0827 2.87762 46.2781 2.68605C46.4733 2.49443 46.7028 2.39862 46.9664 2.39862C47.2127 2.39862 47.4238 2.48352 47.5999 2.65338C47.7761 2.82323 47.8643 3.06203 47.8643 3.36991ZM47.5237 3.43932C47.5237 3.23362 47.4715 3.0507 47.3672 2.89054C47.2628 2.73037 47.1144 2.6502 46.9217 2.6502C46.7303 2.6502 46.5831 2.72607 46.4802 2.87762C46.3773 3.02927 46.3258 3.20525 46.3258 3.40562C46.3258 3.61269 46.3779 3.79597 46.4822 3.95548C46.5866 4.115 46.7357 4.1947 46.9297 4.1947C47.1211 4.1947 47.2679 4.11865 47.3702 3.96634C47.4725 3.81404 47.5237 3.63843 47.5237 3.43932Z" />
                    <path
                        d="M49.5891 3.83219C49.5891 4.21823 49.3425 4.41121 48.8494 4.41121C48.6312 4.41121 48.4276 4.38935 48.2385 4.34577L48.2999 4.05432C48.4714 4.12069 48.6575 4.15378 48.8582 4.15378C49.1458 4.15378 49.2897 4.07178 49.2897 3.90759C49.2897 3.82825 49.2576 3.76497 49.1934 3.71798C49.1292 3.67099 49.0231 3.61843 48.875 3.56011C48.6871 3.48606 48.5508 3.41469 48.4662 3.34593C48.3418 3.24418 48.2797 3.12122 48.2797 2.97716C48.2797 2.82649 48.3366 2.69726 48.4504 2.58947C48.5642 2.48178 48.7376 2.42786 48.9707 2.42786C49.1983 2.42786 49.381 2.44714 49.5187 2.48571L49.4571 2.77304C49.3141 2.71454 49.1486 2.68528 48.9606 2.68528C48.7062 2.68528 48.5792 2.75877 48.5792 2.90569C48.5792 2.97982 48.6076 3.03969 48.6646 3.08542C48.7216 3.13114 48.8329 3.18633 48.9986 3.25115C49.1776 3.32127 49.31 3.39002 49.3963 3.45737C49.5248 3.56189 49.5891 3.68686 49.5891 3.83219Z" />
                    <path
                        d="M51.8487 3.36991C51.8487 3.70831 51.7513 3.97233 51.5566 4.16194C51.3619 4.35155 51.1329 4.44633 50.8694 4.44633C50.623 4.44633 50.4114 4.36241 50.2347 4.19456C50.0578 4.02672 49.9695 3.79022 49.9695 3.48491C49.9695 3.14394 50.0671 2.87762 50.2624 2.68605C50.4577 2.49443 50.6872 2.39862 50.9508 2.39862C51.197 2.39862 51.4082 2.48352 51.5843 2.65338C51.7605 2.82323 51.8487 3.06203 51.8487 3.36991ZM51.5081 3.43932C51.5081 3.23362 51.4559 3.0507 51.3515 2.89054C51.2472 2.73037 51.0988 2.6502 50.9061 2.6502C50.7147 2.6502 50.5675 2.72607 50.4646 2.87762C50.3617 3.02927 50.3102 3.20525 50.3102 3.40562C50.3102 3.61269 50.3623 3.79597 50.4666 3.95548C50.5709 4.115 50.7201 4.1947 50.9141 4.1947C51.1055 4.1947 51.2523 4.11865 51.3546 3.96634C51.4569 3.81404 51.5081 3.63843 51.5081 3.43932Z" />
                    <path
                        d="M53.4444 1.56088L53.3865 1.82524C53.3067 1.80576 53.2269 1.79598 53.147 1.79598C53.0246 1.79598 52.9418 1.84354 52.8985 1.9385C52.8552 2.03356 52.8337 2.22986 52.8337 2.52731C52.9652 2.52731 53.1491 2.52071 53.3857 2.50746L53.3737 2.80832C53.1053 2.80046 52.9253 2.79643 52.8337 2.79643C52.8337 3.39539 52.8416 3.92003 52.8575 4.37024H52.4887C52.5072 3.93191 52.5166 3.40728 52.5166 2.79643C52.4358 2.79643 52.2949 2.80046 52.0938 2.80832L52.1076 2.51139C52.2902 2.52202 52.4265 2.52731 52.5166 2.52731C52.5166 2.178 52.5664 1.92395 52.6661 1.76509C52.7659 1.60628 52.9249 1.52686 53.1432 1.52686C53.2388 1.52686 53.3392 1.53818 53.4444 1.56088Z" />
                    <path
                        d="M54.7787 4.08941L54.7548 4.3525C54.6502 4.39163 54.5516 4.41119 54.4589 4.41119C54.2205 4.41119 54.0575 4.35105 53.9702 4.23057C53.8828 4.11019 53.8391 3.8947 53.8391 3.58406C53.8391 3.38275 53.8404 3.12022 53.8431 2.79643C53.7691 2.79643 53.6601 2.80045 53.5161 2.80832L53.528 2.51532C53.6536 2.52337 53.7659 2.5273 53.865 2.5273C53.865 2.44806 53.8718 2.25972 53.8857 1.96228L54.2098 1.93054C54.1873 2.20809 54.176 2.40701 54.176 2.5273C54.3033 2.5273 54.4905 2.5207 54.7375 2.50746L54.7238 2.80832C54.4897 2.80045 54.3018 2.79643 54.1601 2.79643C54.1574 2.99427 54.1561 3.21683 54.1561 3.46438C54.1561 3.73426 54.1843 3.91267 54.2407 3.99973C54.2971 4.08684 54.4019 4.13036 54.5549 4.13036C54.6055 4.13036 54.6801 4.11674 54.7787 4.08941Z" />
                    <path
                        d="M40.3393 23.0672C40.3393 23.3229 40.2286 23.5206 40.0073 23.6602C39.7913 23.796 39.495 23.8638 39.1181 23.8638C39.0134 23.8638 38.8082 23.8598 38.5027 23.8519C38.5212 23.4425 38.5306 22.9907 38.5306 22.4967C38.5306 22.0318 38.5212 21.6236 38.5027 21.2722H38.7446C38.7918 21.2722 38.8866 21.2703 39.0295 21.2663C39.1721 21.2623 39.2758 21.2603 39.3405 21.2603C39.9006 21.2603 40.1807 21.4505 40.1807 21.8307C40.1807 22.1274 40.0477 22.3249 39.7818 22.4229V22.4427C40.1534 22.5086 40.3393 22.7167 40.3393 23.0672ZM39.8284 21.929C39.8284 21.6549 39.6423 21.5177 39.2701 21.5177C39.0834 21.5177 38.932 21.5277 38.816 21.5476C38.8267 21.643 38.832 21.9126 38.832 22.3563C38.8974 22.359 38.9694 22.3602 39.0481 22.3602C39.3122 22.3602 39.5042 22.3304 39.6244 22.2708C39.7603 22.2046 39.8284 22.0906 39.8284 21.929ZM39.9869 23.1033C39.9869 22.7796 39.697 22.6177 39.1172 22.6177C39.0107 22.6177 38.917 22.6217 38.836 22.6295C38.836 22.981 38.8432 23.2948 38.8579 23.5711C38.9083 23.583 38.9975 23.5889 39.1252 23.5889C39.4456 23.5889 39.673 23.5474 39.8073 23.4645C39.927 23.3896 39.9869 23.2691 39.9869 23.1033Z" />
                    <path
                        d="M42.2887 23.852L41.9716 23.8638C41.9547 23.8011 41.9463 23.7415 41.9463 23.6852H41.9263C41.7627 23.8317 41.5398 23.9048 41.2579 23.9048C41.1049 23.9048 40.9732 23.86 40.8629 23.7706C40.7524 23.6811 40.6973 23.5535 40.6973 23.3877C40.6973 23.1835 40.7836 23.0194 40.9563 22.8955C41.129 22.7715 41.4498 22.7062 41.9187 22.6995C41.9227 22.6675 41.9247 22.6308 41.9247 22.5893C41.9247 22.4252 41.8812 22.3156 41.7944 22.2609C41.7076 22.2062 41.5761 22.1788 41.3998 22.1788C41.1917 22.1788 40.9869 22.2042 40.7854 22.2548L40.8195 21.9827C41.0195 21.9262 41.2495 21.8979 41.5096 21.8979C41.747 21.8979 41.9303 21.9467 42.0597 22.044C42.1891 22.1415 42.2538 22.3074 42.2538 22.542C42.2538 22.6043 42.2508 22.7172 42.2448 22.8808C42.2388 23.0445 42.2359 23.1535 42.2359 23.2078C42.2358 23.4491 42.2535 23.6638 42.2887 23.852ZM41.9293 23.4731C41.9222 23.2707 41.9187 23.0889 41.9187 22.9277C41.6668 22.9277 41.4752 22.9464 41.344 22.9836C41.1242 23.05 41.0144 23.177 41.0144 23.3644C41.0144 23.5452 41.143 23.6357 41.4005 23.6357C41.6216 23.6357 41.7979 23.5815 41.9293 23.4731Z" />
                    <path
                        d="M44.4784 23.8521H44.1095C44.1387 23.5033 44.1533 23.1226 44.1533 22.7101C44.1533 22.5059 44.1116 22.3663 44.0285 22.2913C43.9453 22.2163 43.8264 22.1789 43.6721 22.1789C43.4831 22.1789 43.3088 22.247 43.1491 22.3831C43.1491 22.8356 43.1518 23.3253 43.1571 23.8522H42.7981C42.8207 23.4015 42.832 23.0754 42.832 22.8739C42.832 22.5638 42.8027 22.2628 42.7444 21.9712L43.0918 21.9215L43.1292 22.163H43.1452C43.343 21.9864 43.5549 21.8981 43.7808 21.8981C44.0027 21.8981 44.1743 21.9468 44.296 22.0442C44.4176 22.1417 44.4784 22.3149 44.4784 22.564C44.4784 22.5892 44.477 22.6389 44.4744 22.7131C44.4717 22.7874 44.4704 22.837 44.4704 22.8622C44.4704 23.0835 44.473 23.4135 44.4784 23.8521Z" />
                    <path
                        d="M46.8545 21.723L46.8227 21.9975C46.577 21.9975 46.4416 22.0363 46.4166 22.114V22.1335C46.501 22.2365 46.5433 22.354 46.5433 22.4859C46.5433 22.6919 46.4756 22.8618 46.3403 22.9959C46.2051 23.1299 45.9962 23.1968 45.7139 23.1968C45.5885 23.1968 45.4888 23.1837 45.415 23.1572C45.3529 23.2028 45.3219 23.2595 45.3219 23.3272C45.3219 23.4105 45.3601 23.4658 45.4367 23.4932C45.5344 23.5296 45.7385 23.5478 46.0489 23.5478C46.5507 23.5478 46.8016 23.7148 46.8016 24.0489C46.8016 24.2874 46.7037 24.4848 46.508 24.6413C46.3123 24.7977 46.059 24.8759 45.7484 24.8759C45.4297 24.8759 45.2026 24.8181 45.0671 24.7024C44.9315 24.5867 44.8638 24.4476 44.8638 24.2849C44.8638 24.1368 44.8973 24.0179 44.9643 23.928C45.0313 23.8381 45.1144 23.7826 45.2139 23.7614V23.7435C45.1097 23.6935 45.0576 23.5975 45.0576 23.4552C45.0576 23.3262 45.1225 23.2131 45.2526 23.1156V23.0998C45.1827 23.0655 45.116 23.0074 45.0527 22.9255C44.9893 22.8437 44.9577 22.7421 44.9577 22.6206C44.9577 22.4107 45.027 22.2396 45.1656 22.1076C45.3041 21.9756 45.5047 21.9096 45.7673 21.9096C45.9824 21.9096 46.1513 21.9486 46.2741 22.0265H46.2958C46.338 21.8043 46.4491 21.6932 46.6287 21.6932C46.7263 21.6933 46.8016 21.7032 46.8545 21.723ZM46.5022 24.1847C46.5022 24.0606 46.4569 23.9732 46.3665 23.9225C46.2761 23.8715 46.1063 23.8462 45.857 23.8462C45.6881 23.8462 45.5337 23.8384 45.3939 23.8225C45.2402 23.9003 45.1633 24.0144 45.1633 24.1649C45.1633 24.4867 45.3726 24.6477 45.7915 24.6477C46.0101 24.6477 46.1831 24.6048 46.3108 24.5191C46.4383 24.4334 46.5022 24.3219 46.5022 24.1847ZM46.2262 22.5671C46.2262 22.4229 46.1804 22.3124 46.0893 22.2355C45.998 22.1587 45.8821 22.1204 45.7416 22.1204C45.6089 22.1204 45.498 22.1575 45.4087 22.2316C45.3195 22.3058 45.2748 22.411 45.2748 22.5474C45.2748 22.6904 45.3204 22.7993 45.4117 22.874C45.5029 22.9488 45.6202 22.9862 45.7633 22.9862C45.8945 22.9862 46.0046 22.9498 46.0932 22.877C46.1818 22.8042 46.2262 22.7009 46.2262 22.5671Z" />
                    <path
                        d="M47.5811 23.8521H47.1903C47.2142 23.4161 47.2262 22.9233 47.2262 22.3736C47.2262 21.8399 47.2069 21.4032 47.1685 21.0637L47.5811 21.0438C47.5559 21.4033 47.5433 21.8465 47.5433 22.3736C47.5433 22.9166 47.5559 23.4095 47.5811 23.8521Z" />
                    <path
                        d="M49.6287 23.852L49.3116 23.8638C49.2948 23.8011 49.2863 23.7415 49.2863 23.6852H49.2664C49.1027 23.8317 48.8799 23.9048 48.5979 23.9048C48.445 23.9048 48.3133 23.86 48.203 23.7706C48.0925 23.6811 48.0374 23.5535 48.0374 23.3877C48.0374 23.1835 48.1237 23.0194 48.2964 22.8955C48.4691 22.7715 48.7898 22.7062 49.2588 22.6995C49.2627 22.6675 49.2648 22.6308 49.2648 22.5893C49.2648 22.4252 49.2212 22.3156 49.1345 22.2609C49.0477 22.2062 48.9161 22.1788 48.7399 22.1788C48.5318 22.1788 48.327 22.2042 48.1255 22.2548L48.1595 21.9827C48.3596 21.9262 48.5896 21.8979 48.8497 21.8979C49.0871 21.8979 49.2704 21.9467 49.3998 22.044C49.5291 22.1415 49.5938 22.3074 49.5938 22.542C49.5938 22.6043 49.5908 22.7172 49.5849 22.8808C49.5789 23.0445 49.576 23.1535 49.576 23.2078C49.5759 23.4491 49.5935 23.6638 49.6287 23.852ZM49.2694 23.4731C49.2623 23.2707 49.2588 23.0889 49.2588 22.9277C49.0068 22.9277 48.8153 22.9464 48.6841 22.9836C48.4643 23.05 48.3545 23.177 48.3545 23.3644C48.3545 23.5452 48.4831 23.6357 48.7406 23.6357C48.9617 23.6357 49.138 23.5815 49.2694 23.4731Z" />
                    <path
                        d="M51.8469 23.8521L51.5457 23.8621C51.5351 23.8045 51.5298 23.7436 51.5298 23.6793H51.5078C51.3685 23.8296 51.1615 23.9048 50.8869 23.9048C50.6348 23.9048 50.4341 23.8136 50.2849 23.6311C50.1356 23.4487 50.061 23.2285 50.061 22.9708C50.061 22.6786 50.1439 22.4269 50.3098 22.2153C50.4757 22.0037 50.7092 21.898 51.0103 21.898C51.2252 21.898 51.3792 21.9416 51.472 22.0288H51.488C51.488 21.6992 51.4786 21.3756 51.4601 21.0578L51.8429 21.0438C51.8176 21.3806 51.8051 21.8215 51.8051 22.3664C51.8051 22.9206 51.819 23.4158 51.8469 23.8521ZM51.5219 23.4592C51.5219 23.0478 51.5106 22.6517 51.488 22.2707C51.3803 22.1822 51.2461 22.1378 51.0853 22.1378C50.8606 22.1378 50.6924 22.2123 50.5809 22.3611C50.4692 22.5099 50.4134 22.6967 50.4134 22.9215C50.4134 23.1225 50.4662 23.2918 50.5719 23.4293C50.6776 23.5669 50.8241 23.6356 51.0115 23.6356C51.2467 23.6356 51.4168 23.5768 51.5219 23.4592Z" />
                    <path
                        d="M54.0073 22.6861C54.0073 22.7415 54.0046 22.818 53.9993 22.9156L52.6214 22.9394C52.6347 23.1336 52.7102 23.2963 52.8478 23.4274C52.9854 23.5585 53.1678 23.6239 53.395 23.6239C53.598 23.6239 53.7884 23.5986 53.9661 23.5479L53.9322 23.8274C53.8019 23.879 53.6137 23.9048 53.3676 23.9048C53.0218 23.9048 52.758 23.811 52.5765 23.6232C52.395 23.4355 52.3042 23.2068 52.3042 22.9372C52.3042 22.6491 52.3871 22.401 52.5528 22.1927C52.7185 21.9846 52.9411 21.8804 53.2206 21.8804C53.4775 21.8804 53.6727 21.9556 53.8065 22.1061C53.9403 22.2566 54.0073 22.4499 54.0073 22.6861ZM53.6667 22.6894C53.6667 22.3178 53.5104 22.132 53.1979 22.132C52.8788 22.132 52.6906 22.3251 52.6334 22.7112L53.6667 22.6894Z" />
                    <path
                        d="M55.7232 23.3141C55.7232 23.7001 55.4765 23.8931 54.9835 23.8931C54.7652 23.8931 54.5616 23.8712 54.3726 23.8276L54.434 23.5362C54.6054 23.6026 54.7915 23.6357 54.9922 23.6357C55.2798 23.6357 55.4237 23.5537 55.4237 23.3895C55.4237 23.3101 55.3916 23.2468 55.3275 23.1999C55.2633 23.1529 55.1571 23.1003 55.009 23.042C54.8211 22.9679 54.6849 22.8966 54.6003 22.8278C54.4759 22.7261 54.4137 22.6031 54.4137 22.459C54.4137 22.3084 54.4706 22.1791 54.5845 22.0713C54.6983 21.9636 54.8717 21.9097 55.1047 21.9097C55.3324 21.9097 55.515 21.929 55.6528 21.9676L55.5912 22.2549C55.4481 22.1964 55.2826 22.1672 55.0946 22.1672C54.8403 22.1672 54.7132 22.2406 54.7132 22.3876C54.7132 22.4617 54.7416 22.5216 54.7986 22.5673C54.8556 22.613 54.967 22.6682 55.1327 22.733C55.3116 22.8031 55.4441 22.8719 55.5303 22.9392C55.6589 23.0437 55.7232 23.1687 55.7232 23.3141Z" />
                    <path
                        d="M57.8606 23.8521H57.4917C57.5209 23.5033 57.5355 23.1279 57.5355 22.7259C57.5355 22.5111 57.4953 22.3662 57.4148 22.2913C57.3342 22.2163 57.2228 22.1788 57.0804 22.1788C56.8809 22.1788 56.6939 22.2469 56.5196 22.383C56.5196 23.1076 56.5249 23.5973 56.5356 23.8521H56.1846C56.1965 23.5033 56.2025 23.0105 56.2025 22.3736C56.2025 21.8161 56.1833 21.3794 56.1448 21.0637L56.5236 21.0438C56.5129 21.4445 56.5076 21.8162 56.5076 22.159H56.5196C56.72 21.985 56.9398 21.898 57.1791 21.898C57.3929 21.898 57.5598 21.9474 57.6802 22.0461C57.8004 22.1448 57.8606 22.3182 57.8606 22.5659C57.8606 22.5912 57.8592 22.6406 57.8565 22.714C57.8538 22.7875 57.8526 22.8522 57.8526 22.9079C57.8526 23.0987 57.8553 23.4135 57.8606 23.8521Z" />
                    <path
                        d="M42.7248 6.92255L42.6944 7.85354C42.1141 7.8102 41.5674 7.78843 41.0539 7.78843C41.0481 8.33563 41.0453 8.94502 41.0453 9.61677C41.0453 10.6591 41.0613 11.6449 41.0932 12.5743H39.873C39.9107 11.6535 39.9296 10.6677 39.9296 9.61677C39.9296 8.95673 39.9237 8.34719 39.9121 7.78843C39.5027 7.78843 38.9408 7.81165 38.2266 7.8577L38.2614 6.92255H42.7248Z" />
                    <path
                        d="M46.5588 10.0683C46.5588 10.2153 46.55 10.4067 46.5327 10.6427L43.7401 10.6903C43.7804 11.0121 43.9207 11.2798 44.1605 11.4933C44.4003 11.7068 44.7154 11.8136 45.1056 11.8136C45.539 11.8136 45.9998 11.7474 46.4883 11.6147L46.4015 12.4705C46.0018 12.6175 45.5065 12.6912 44.916 12.6912C44.1687 12.6912 43.5962 12.4822 43.198 12.0641C42.7997 11.6461 42.6008 11.143 42.6008 10.5547C42.6008 9.94071 42.7897 9.40793 43.1677 8.95669C43.5457 8.50545 44.0707 8.27985 44.7427 8.27985C45.3567 8.27985 45.8128 8.44549 46.1112 8.77659C46.4096 9.10792 46.5588 9.53847 46.5588 10.0683ZM45.5487 10.0243C45.5487 9.36843 45.2647 9.04042 44.6965 9.04042C44.1544 9.04042 43.8327 9.37976 43.7314 10.0584L45.5487 10.0243Z" />
                    <path
                        d="M50.6454 11.6381L50.5714 12.4797C50.3073 12.6207 49.9491 12.6912 49.4968 12.6912C48.7484 12.6912 48.1733 12.4834 47.7716 12.0676C47.3697 11.6518 47.1689 11.1522 47.1689 10.5688C47.1689 9.96253 47.3793 9.43321 47.8001 8.98126C48.2207 8.52932 48.7967 8.30334 49.5278 8.30334C49.8845 8.30334 50.2023 8.34392 50.4809 8.42476L50.3334 9.30965C50.0673 9.2005 49.7696 9.14583 49.44 9.14583C49.0903 9.14583 48.8141 9.2685 48.6117 9.51386C48.4092 9.75921 48.3081 10.061 48.3081 10.4196C48.3081 10.8098 48.428 11.1396 48.668 11.4093C48.9078 11.679 49.2475 11.8137 49.687 11.8137C49.9443 11.8137 50.2637 11.7551 50.6454 11.6381Z" />
                    <path
                        d="M55.255 12.5742H54.0921C54.1559 11.8415 54.1879 11.129 54.1879 10.4366C54.1879 9.92097 54.122 9.58295 53.9904 9.42203C53.8588 9.26131 53.6425 9.1809 53.3414 9.1809C53.0226 9.1809 52.7097 9.28677 52.4027 9.49809C52.4027 10.7293 52.4173 11.7546 52.4462 12.5742H51.2978C51.3298 11.678 51.3458 10.604 51.3458 9.3522C51.3458 8.1987 51.3006 7.24032 51.2107 6.47717L52.4332 6.40771C52.3895 7.33613 52.3679 8.14333 52.3679 8.82949H52.4248C52.8103 8.47882 53.2515 8.30331 53.7481 8.30331C54.2182 8.30331 54.5869 8.40918 54.8541 8.6205C55.1213 8.83206 55.255 9.2043 55.255 9.73703C55.255 9.79226 55.2514 9.9045 55.2441 10.0738C55.2367 10.2433 55.2332 10.3556 55.2332 10.4106C55.2332 10.8944 55.2403 11.6154 55.255 12.5742Z" />
                    <path
                        d="M60.1661 12.5742H59.0032C59.067 11.8415 59.0989 11.1001 59.0989 10.3497C59.0989 9.89503 59.0309 9.58659 58.8947 9.42427C58.7585 9.26209 58.5515 9.18093 58.2737 9.18093C57.94 9.18093 57.6238 9.29392 57.3254 9.51989C57.3398 10.6496 57.3471 11.6678 57.3471 12.5743H56.1901C56.2422 11.6665 56.2684 10.9531 56.2684 10.4339C56.2684 9.74095 56.1972 9.087 56.0552 8.47194L57.1566 8.35015L57.2297 8.81656H57.2997C57.7 8.47446 58.1602 8.30334 58.6803 8.30334C59.1303 8.30334 59.4903 8.40847 59.7606 8.61834C60.0308 8.8284 60.166 9.21585 60.166 9.7806C60.166 9.8647 60.1624 9.97694 60.155 10.1174C60.1477 10.2578 60.1442 10.4018 60.1442 10.5496C60.1442 10.9406 60.1514 11.6154 60.1661 12.5742Z" />
                    <path
                        d="M62.3654 12.5742H61.1865C61.2271 11.9767 61.2474 11.2909 61.2474 10.5172C61.2474 9.74934 61.1981 9.07652 61.0994 8.49914L62.361 8.37352C62.3232 8.93372 62.3045 9.64819 62.3045 10.5172C62.3045 11.2591 62.3247 11.9449 62.3654 12.5742ZM62.5629 7.14396C62.5629 7.34086 62.495 7.51311 62.3596 7.66063C62.224 7.80835 62.0351 7.88202 61.7933 7.88202C61.5892 7.88202 61.4295 7.81841 61.3145 7.69096C61.1992 7.5637 61.1418 7.41032 61.1418 7.23078C61.1418 7.03406 61.2095 6.86327 61.3451 6.7185C61.4806 6.57369 61.6709 6.50128 61.9158 6.50128C62.1226 6.50128 62.2821 6.56437 62.3944 6.69014C62.5067 6.81614 62.5629 6.96736 62.5629 7.14396Z" />
                    <path
                        d="M66.6439 11.6381L66.57 12.4797C66.3059 12.6207 65.9477 12.6912 65.4953 12.6912C64.747 12.6912 64.1718 12.4834 63.7701 12.0676C63.3682 11.6518 63.1675 11.1522 63.1675 10.5688C63.1675 9.96253 63.3778 9.43321 63.7986 8.98126C64.2192 8.52932 64.7953 8.30334 65.5263 8.30334C65.8831 8.30334 66.2009 8.34392 66.4795 8.42476L66.3319 9.30965C66.0658 9.2005 65.7682 9.14583 65.4386 9.14583C65.0888 9.14583 64.8126 9.2685 64.6102 9.51386C64.4078 9.75921 64.3067 10.061 64.3067 10.4196C64.3067 10.8098 64.4265 11.1396 64.6665 11.4093C64.9064 11.679 65.2461 11.8137 65.6855 11.8137C65.9429 11.8137 66.2622 11.7551 66.6439 11.6381Z" />
                    <path
                        d="M70.872 12.5742L69.8374 12.6103C69.7904 12.4882 69.7671 12.3777 69.7671 12.2794H69.7104C69.3905 12.554 68.9588 12.6913 68.4152 12.6913C68.0519 12.6913 67.7502 12.5906 67.5103 12.3894C67.2705 12.1881 67.1506 11.9208 67.1506 11.5877C67.1506 11.1475 67.3375 10.7869 67.7111 10.5061C68.0847 10.2253 68.7395 10.0761 69.6758 10.0585C69.6814 10.0061 69.6844 9.9563 69.6844 9.9095C69.6844 9.59413 69.6088 9.38603 69.4576 9.28531C69.3064 9.18458 69.0289 9.13413 68.625 9.13413C68.186 9.13413 67.7571 9.19263 67.3386 9.30965L67.4347 8.50812C67.8307 8.37173 68.3899 8.30334 69.1122 8.30334C69.6393 8.30334 70.0461 8.41357 70.3329 8.63393C70.6197 8.85442 70.7632 9.24 70.7632 9.79089C70.7632 9.91268 70.7581 10.1346 70.748 10.4564C70.7377 10.7782 70.7328 10.9928 70.7328 11.1C70.7327 11.7001 70.7791 12.1916 70.872 12.5742ZM69.7017 11.6752C69.6843 11.2858 69.6757 10.9498 69.6757 10.6669C68.6812 10.6669 68.1841 10.9165 68.1841 11.4156C68.1841 11.759 68.4026 11.9307 68.8401 11.9307C69.1841 11.9307 69.4713 11.8456 69.7017 11.6752Z" />
                    <path
                        d="M73.0001 12.5742H71.8124C71.8559 11.5825 71.8778 10.5086 71.8778 9.3522C71.8778 8.22486 71.8328 7.26644 71.7429 6.47717L73.0002 6.40771C72.9565 7.22586 72.9348 8.20731 72.9348 9.3522C72.9348 10.5145 72.9564 11.5884 73.0001 12.5742Z" />
                    <path
                        d="M41.3272 18.1231L41.2883 18.5637C41.0433 18.6365 40.7765 18.673 40.4876 18.673C39.8024 18.673 39.2877 18.4864 38.943 18.113C38.5984 17.7396 38.4263 17.2837 38.4263 16.7449C38.4263 16.1805 38.618 15.6938 39.0019 15.2848C39.3859 14.8758 39.9019 14.6713 40.5502 14.6713C40.7293 14.6713 40.9181 14.6979 41.1171 14.7512L41.0336 15.2212C40.8049 15.151 40.601 15.1159 40.4221 15.1159C39.9409 15.1159 39.5759 15.2647 39.3275 15.5622C39.079 15.8598 38.9547 16.2237 38.9547 16.654C38.9547 17.0925 39.0981 17.4684 39.3849 17.7818C39.6717 18.0952 40.0681 18.2518 40.5742 18.2518C40.7673 18.2518 41.0183 18.209 41.3272 18.1231Z" />
                    <path
                        d="M45.2533 17.0967C45.2533 17.6031 45.1072 17.9984 44.8152 18.2823C44.5231 18.5663 44.1796 18.7082 43.7843 18.7082C43.4147 18.7082 43.0974 18.5825 42.8322 18.3313C42.5671 18.0801 42.4346 17.7258 42.4346 17.2687C42.4346 16.7583 42.581 16.3597 42.8741 16.0728C43.1669 15.786 43.5112 15.6425 43.9065 15.6425C44.2759 15.6425 44.5926 15.7697 44.8569 16.0238C45.1211 16.2781 45.2533 16.6357 45.2533 17.0967ZM44.7365 17.2007C44.7365 16.8891 44.6587 16.6122 44.5033 16.3693C44.3478 16.1265 44.1265 16.0051 43.8395 16.0051C43.5543 16.0051 43.3349 16.1201 43.1814 16.3498C43.028 16.5796 42.9513 16.8463 42.9513 17.1498C42.9513 17.4636 43.0289 17.7411 43.1844 17.9828C43.3398 18.2245 43.5621 18.3454 43.8513 18.3454C44.1364 18.3454 44.3552 18.23 44.5077 17.9993C44.6602 17.7685 44.7365 17.5024 44.7365 17.2007Z" />
                    <path
                        d="M50.3802 16.8692C50.3802 16.552 50.3247 16.3423 50.2139 16.2402C50.1031 16.1382 49.9211 16.087 49.6678 16.087C49.4542 16.087 49.2338 16.1911 49.0062 16.3991C48.9982 16.6412 48.9943 16.8781 48.9943 17.11C48.9943 17.4413 49.0002 17.9349 49.0123 18.5911H48.4471C48.4908 18.0262 48.5128 17.4521 48.5128 16.8692C48.5128 16.552 48.4577 16.3423 48.348 16.2403C48.2382 16.1382 48.0626 16.0871 47.8213 16.0871C47.5739 16.0871 47.3425 16.1911 47.1269 16.3992C47.1269 17.0278 47.1307 17.7585 47.1388 18.5911H46.5888C46.6265 17.9165 46.6454 17.4283 46.6454 17.1267C46.6454 16.6683 46.6006 16.2178 46.5112 15.7754L47.0427 15.7009L47.0972 16.0633H47.1273C47.3879 15.7984 47.6777 15.6658 47.9966 15.6658C48.4717 15.6658 48.7774 15.7984 48.914 16.0633H48.9472C49.2511 15.7984 49.5511 15.6658 49.8471 15.6658C50.1851 15.6658 50.4408 15.7393 50.614 15.8861C50.7871 16.033 50.8736 16.2918 50.8736 16.6628C50.8736 16.7005 50.8716 16.7749 50.8676 16.8861C50.8635 16.9972 50.8617 17.0715 50.8617 17.1091C50.8617 17.4404 50.8656 17.9345 50.8736 18.5912H50.3115C50.3573 18.0717 50.3802 17.4978 50.3802 16.8692Z" />
                    <path
                        d="M56.0347 16.8692C56.0347 16.552 55.9793 16.3423 55.8685 16.2402C55.7576 16.1382 55.5756 16.087 55.3223 16.087C55.1087 16.087 54.8883 16.1911 54.6608 16.3991C54.6527 16.6412 54.6488 16.8781 54.6488 17.11C54.6488 17.4413 54.6547 17.9349 54.6668 18.5911H54.1016C54.1453 18.0262 54.1673 17.4521 54.1673 16.8692C54.1673 16.552 54.1122 16.3423 54.0025 16.2403C53.8928 16.1382 53.7172 16.0871 53.4758 16.0871C53.2284 16.0871 52.9971 16.1911 52.7814 16.3992C52.7814 17.0278 52.7853 17.7585 52.7934 18.5911H52.2434C52.281 17.9165 52.2999 17.4283 52.2999 17.1267C52.2999 16.6683 52.2551 16.2178 52.1658 15.7754L52.6972 15.7009L52.7517 16.0633H52.7818C53.0424 15.7984 53.3322 15.6658 53.6512 15.6658C54.1262 15.6658 54.432 15.7984 54.5685 16.0633H54.6017C54.9056 15.7984 55.2056 15.6658 55.5017 15.6658C55.8397 15.6658 56.0953 15.7393 56.2685 15.8861C56.4416 16.033 56.5282 16.2918 56.5282 16.6628C56.5282 16.7005 56.5262 16.7749 56.5221 16.8861C56.5181 16.9972 56.5163 17.0715 56.5163 17.1091C56.5163 17.4404 56.5201 17.9345 56.5282 18.5912H55.9661C56.0118 18.0717 56.0347 17.4978 56.0347 16.8692Z" />
                    <path
                        d="M60.4262 18.5911L59.9654 18.6088C59.9375 18.4989 59.9237 18.4086 59.9237 18.3379H59.8938C59.6284 18.5613 59.3065 18.673 58.9277 18.673C58.5827 18.673 58.3321 18.59 58.1755 18.424C58.019 18.258 57.9408 17.9236 57.9408 17.4205C57.9408 17.349 57.9426 17.2426 57.9467 17.1014C57.9507 16.9603 57.9527 16.864 57.9527 16.8122C57.9527 16.52 57.9359 16.1759 57.9021 15.7803L58.4701 15.7595C58.4462 16.143 58.4343 16.471 58.4343 16.7433C58.4343 17.3695 58.4743 17.7774 58.5543 17.9671C58.6343 18.1569 58.8149 18.2518 59.0958 18.2518C59.4122 18.2518 59.6732 18.1727 59.8789 18.0141C59.8789 16.9087 59.8688 16.1641 59.849 15.7803L60.3843 15.7595C60.3683 16.1328 60.3604 16.6489 60.3604 17.3078C60.3605 17.7307 60.3823 18.1585 60.4262 18.5911Z" />
                    <path
                        d="M64.3778 18.5911H63.8187C63.8624 18.0691 63.8844 17.4994 63.8844 16.882C63.8844 16.5763 63.822 16.3675 63.6975 16.2552C63.5729 16.1431 63.3951 16.087 63.1641 16.087C62.8811 16.087 62.62 16.189 62.381 16.3929C62.381 17.0701 62.3849 17.8027 62.393 18.5911H61.8489C61.8827 17.9164 61.8995 17.4282 61.8995 17.1266C61.8995 16.6624 61.8556 16.2119 61.7683 15.7753L62.2944 15.7009L62.3513 16.0632H62.3752C62.6723 15.7983 62.9905 15.6658 63.3298 15.6658C63.663 15.6658 63.921 15.7387 64.1038 15.8846C64.2864 16.0305 64.3778 16.2898 64.3778 16.6628C64.3778 16.7004 64.3758 16.7749 64.3718 16.886C64.3677 16.9972 64.3659 17.0714 64.3659 17.1091C64.3659 17.4404 64.3698 17.9344 64.3778 18.5911Z" />
                    <path
                        d="M66.3564 18.5911H65.7913C65.8192 18.1951 65.8332 17.7426 65.8332 17.2336C65.8332 16.6613 65.7983 16.181 65.7288 15.7929L66.3505 15.7126C66.3266 16.1266 66.3147 16.6335 66.3147 17.2336C66.3147 17.709 66.3284 18.1615 66.3564 18.5911ZM66.4556 14.8798C66.4556 14.9815 66.423 15.0696 66.3578 15.1442C66.2926 15.219 66.2009 15.2563 66.0826 15.2563C65.9818 15.2563 65.9033 15.2239 65.8471 15.1592C65.7908 15.0945 65.7627 15.0164 65.7627 14.9246C65.7627 14.8252 65.7961 14.7385 65.8633 14.6648C65.9304 14.5911 66.0233 14.5542 66.1418 14.5542C66.2384 14.5542 66.3149 14.5865 66.3712 14.6513C66.4273 14.716 66.4556 14.7922 66.4556 14.8798Z" />
                    <path
                        d="M69.4153 18.1699L69.3795 18.5621C69.2224 18.6204 69.0745 18.6496 68.9356 18.6496C68.578 18.6496 68.3335 18.5599 68.2025 18.3801C68.0715 18.2004 68.0059 17.8786 68.0059 17.415C68.0059 17.1144 68.0078 16.7226 68.0118 16.2392C67.9015 16.2392 67.7391 16.2452 67.5244 16.2569L67.5422 15.8119C67.7294 15.8238 67.8968 15.8297 68.0447 15.8297C68.0447 15.7116 68.0551 15.4309 68.0762 14.9877L68.568 14.9404C68.5343 15.3539 68.5174 15.6505 68.5174 15.8297C68.7049 15.8297 68.9808 15.8198 69.3448 15.8L69.3246 16.2569C68.9793 16.2452 68.7022 16.2392 68.4932 16.2392C68.4893 16.5343 68.4875 16.8663 68.4875 17.2352C68.4875 17.6377 68.5295 17.9039 68.6136 18.0337C68.6976 18.1635 68.8538 18.2284 69.0819 18.2284C69.1571 18.2284 69.2683 18.209 69.4153 18.1699Z" />
                    <path
                        d="M72.9417 15.7711C72.9417 15.8978 72.791 16.3013 72.4901 16.9818C72.1451 17.7592 71.9308 18.3071 71.8471 18.6256C71.71 19.1419 71.5828 19.4703 71.4657 19.6107C71.3068 19.8045 71.0237 19.9016 70.6167 19.9016L70.5928 19.4804C70.8409 19.4804 71.0472 19.3968 71.212 19.2299C71.3768 19.0626 71.4592 18.8534 71.4592 18.6018C71.4592 18.3824 71.2755 17.8601 70.9084 17.0352C70.5414 16.2102 70.3579 15.789 70.3579 15.7711H70.9752C70.9752 15.8245 71.1011 16.1846 71.3529 16.8512C71.6047 17.5178 71.7306 17.9283 71.7306 18.0826H71.7605C71.7605 17.9541 71.8669 17.5813 72.0798 16.9641C72.2926 16.3468 72.3991 15.9491 72.3991 15.7711H72.9417Z" />
                    <path
                        d="M1.36223 11.7836C0.87008 11.7836 0.469727 12.1824 0.469727 12.6728C0.469727 13.1632 0.87008 13.562 1.36223 13.562C1.85443 13.562 2.25478 13.1632 2.25478 12.6728C2.25478 12.1824 1.85443 11.7836 1.36223 11.7836Z" />
                    <path
                        d="M1.36223 24.0579C0.87008 24.0579 0.469727 24.4568 0.469727 24.9471C0.469727 25.4374 0.87008 25.8363 1.36223 25.8363C1.85443 25.8363 2.25478 25.4375 2.25478 24.9471C2.25478 24.4567 1.85443 24.0579 1.36223 24.0579Z" />
                    <path
                        d="M1.36223 19.6992C1.85443 19.6992 2.25478 19.3003 2.25478 18.81C2.25478 18.3196 1.85443 17.9207 1.36223 17.9207C0.87008 17.9207 0.469727 18.3196 0.469727 18.81C0.469727 19.3003 0.87008 19.6992 1.36223 19.6992Z" />
                    <path
                        d="M1.36229 20.1672C2.03338 20.1672 2.59229 19.6811 2.70396 19.0439H16.6294V18.8099V18.5759H2.70396C2.59229 17.9387 2.03343 17.4526 1.36229 17.4526C0.611147 17.4526 0 18.0615 0 18.8099C0 19.5583 0.611147 20.1672 1.36229 20.1672ZM1.36229 17.9207C1.85449 17.9207 2.25484 18.3196 2.25484 18.8099C2.25484 19.3003 1.85449 19.6992 1.36229 19.6992C0.87014 19.6992 0.469787 19.3003 0.469787 18.8099C0.469787 18.3196 0.87014 17.9207 1.36229 17.9207Z" />
                    <path
                        d="M23.0337 18.7718C23.0337 18.6532 23.1226 18.5563 23.2373 18.5409V13.1408H11.6806V16.0894H5.12374L2.47667 13.4521C2.63264 13.2313 2.72463 12.9626 2.72463 12.6728C2.72463 11.9244 2.11348 11.3155 1.36229 11.3155C0.611146 11.3155 0 11.9244 0 12.6728C0 13.4212 0.611146 14.0301 1.36229 14.0301C1.65323 14.0301 1.92298 13.9384 2.14449 13.783L4.86037 16.4889L4.92915 16.5575H5.02644H11.6806V17.7979H12.2584V16.5574H14.3746V16.3234V16.0894H12.2584V13.7165H22.6595V18.5377H22.7397C22.8695 18.5377 22.9746 18.6425 22.9746 18.7718V18.9122V19.0526C22.9746 19.1819 22.8695 19.2866 22.7397 19.2866H22.6595V24.0791H12.2584V21.5305H14.3746V21.2965V21.0625H12.2584V19.822L11.6806 19.822V21.0625H5.02644H4.92915L4.86037 21.131L2.14449 23.8369C1.92293 23.6815 1.65323 23.5899 1.36229 23.5899C0.611146 23.5898 0 24.1987 0 24.9471C0 25.6955 0.611146 26.3044 1.36229 26.3044C2.11348 26.3044 2.72463 25.6955 2.72463 24.9471C2.72463 24.6573 2.63264 24.3885 2.47667 24.1678L5.12374 21.5305H11.6806V24.6548H23.2373V19.2835C23.1866 19.2767 23.1391 19.2545 23.1025 19.218C23.0585 19.1741 23.0337 19.1147 23.0337 19.0526V18.9122V18.7718ZM1.36229 13.562C0.87014 13.562 0.469787 13.1632 0.469787 12.6728C0.469787 12.1824 0.87014 11.7835 1.36229 11.7835C1.85449 11.7835 2.25484 12.1824 2.25484 12.6728C2.25484 13.1632 1.85449 13.562 1.36229 13.562ZM1.36229 25.8364C0.87014 25.8364 0.469787 25.4375 0.469787 24.9471C0.469787 24.4568 0.87014 24.0579 1.36229 24.0579C1.85449 24.0579 2.25484 24.4568 2.25484 24.9471C2.25484 25.4375 1.85449 25.8364 1.36229 25.8364Z" />
                    <path
                        d="M30.2767 22.2551C28.5456 22.2551 27.114 20.9569 26.9089 19.2865H25.5123C25.3826 19.2865 25.2774 19.1817 25.2774 19.0525V18.9121V18.7716C25.2774 18.6424 25.3826 18.5376 25.5123 18.5376H26.8995C26.9612 17.917 27.1922 17.3454 27.5455 16.8689L24.3647 13.6999V18.5377L24.9835 18.5376C25.0458 18.5376 25.1056 18.5622 25.1496 18.6062C25.1936 18.6501 25.2184 18.7096 25.2184 18.7716V18.9121V19.0525C25.2184 19.1817 25.1133 19.2865 24.9835 19.2865L24.3647 19.2865V24.6548H35.2808L32.3043 21.5839C31.7381 22.0053 31.0362 22.2551 30.2767 22.2551Z" />
                    <path
                        d="M29.8624 15.5183V14.1056C29.8624 13.9763 29.9675 13.8716 30.0973 13.8716H30.2382H30.3791C30.5089 13.8716 30.614 13.9763 30.614 14.1056V15.5089C32.3278 15.6781 33.6709 17.1225 33.6709 18.8736C33.6709 19.6447 33.4099 20.3559 32.9722 20.9253L35.9216 23.9681V13.1408H30.614V13.5722C30.614 13.6342 30.5893 13.6938 30.5452 13.7376C30.5012 13.7815 30.4414 13.8062 30.3791 13.8062H30.2382H30.0973C29.9675 13.8062 29.8624 13.7014 29.8624 13.5722V13.1408H25.1323L28.2027 16.1998C28.6735 15.8365 29.2423 15.5938 29.8624 15.5183Z" />
                    <path
                        d="M21.4402 9.79327C21.8163 9.35546 22.0442 8.78777 22.0442 8.16765C22.0442 6.78696 20.9167 5.6637 19.5309 5.6637C18.1451 5.6637 17.0176 6.78696 17.0176 8.16765C17.0176 9.54834 18.1451 10.6716 19.5309 10.6716C20.1255 10.6716 20.6722 10.4644 21.1029 10.1193L27.927 16.918L28.0931 16.7526L28.2592 16.5871L21.4402 9.79327Z" />
                    <path
                        d="M20.7563 18.0344C20.2831 17.563 19.516 17.563 19.0429 18.0344C18.5697 18.5057 18.5697 19.27 19.0429 19.7415C19.516 20.2128 20.2831 20.2128 20.7563 19.7414C20.9508 19.5477 21.0651 19.3045 21.0997 19.0526H22.7398V18.9121V18.7717H21.1056C21.0796 18.5026 20.9632 18.2405 20.7563 18.0344Z" />
                    <path d="M23.2688 18.9121V19.0525L24.9838 19.0525V18.9121V18.7717L23.2688 18.7717V18.9121Z" />
                    <path d="M25.5125 18.7717V18.9121V19.0525H27.2274V18.9121V18.7717H25.5125Z" />
                    <path
                        d="M31.1191 7.68126C30.6459 7.20984 29.8788 7.20984 29.4056 7.68126C28.9325 8.15263 28.9325 8.9169 29.4057 9.38837C29.6001 9.58209 29.8442 9.69597 30.0971 9.73051V11.3089H30.238H30.379V9.73631C30.6491 9.71043 30.9122 9.59445 31.1191 9.38832C31.5922 8.91695 31.5922 8.15268 31.1191 7.68126Z" />
                    <path d="M30.2381 11.8423H30.0972L30.0972 13.5721H30.2381H30.3791L30.379 11.8423H30.2381Z" />
                    <path d="M30.0972 14.1056V15.8355H30.2381H30.379V14.1056H30.2381H30.0972Z" />
                    <path
                        d="M38.9014 25.9606C38.5078 25.9537 38.1417 26.076 37.8433 26.2876L32.5919 20.8699L32.4229 21.0325L32.2539 21.1951L37.4998 26.6071C37.254 26.9047 37.1032 27.2834 37.0959 27.6977C37.0876 28.1699 37.2644 28.6171 37.5937 28.9568C37.923 29.2965 38.3654 29.4882 38.8394 29.4964C39.3134 29.5047 39.7623 29.3286 40.1033 29.0005C40.4443 28.6724 40.6367 28.2316 40.6449 27.7593C40.662 26.7846 39.8799 25.9777 38.9014 25.9606ZM39.7769 28.6638C39.5262 28.9051 39.1962 29.0346 38.8477 29.0285C38.4991 29.0224 38.1738 28.8815 37.9317 28.6317C37.6895 28.3818 37.5595 28.0531 37.5656 27.7058C37.5782 26.9891 38.1737 26.4161 38.8931 26.4285C39.6126 26.4411 40.1878 27.0344 40.1752 27.7511C40.1691 28.0985 40.0277 28.4226 39.7769 28.6638Z" />
                    <path
                        d="M27.3525 18.8736C27.3525 17.2671 28.6644 15.9601 30.2768 15.9601C31.8893 15.9601 33.2011 17.2671 33.2011 18.8736C33.2011 20.4801 31.8893 21.787 30.2768 21.787C28.6644 21.787 27.3525 20.4801 27.3525 18.8736Z" />
                    <path
                        d="M19.531 10.9056C18.0157 10.9056 16.7828 9.67736 16.7828 8.16763C16.7828 6.65789 18.0157 5.42964 19.531 5.42964C21.0464 5.42964 22.2792 6.65789 22.2792 8.16763C22.2792 8.74581 22.0936 9.30844 21.7536 9.77448L23.2374 11.2529V0.50354H11.6807V12.0175H22.6763L21.08 10.4271C20.6252 10.7367 20.0829 10.9056 19.531 10.9056Z" />
                    <path
                        d="M35.9132 0.507263H24.3564V12.0212H29.854V11.846C29.854 11.784 29.8787 11.7244 29.9228 11.6806C29.9668 11.6367 30.0266 11.612 30.0888 11.612H30.2298H30.3707C30.5005 11.612 30.6056 11.7167 30.6056 11.846V12.0212H35.9132V0.507263ZM31.2769 9.55751C31.0912 9.74257 30.8581 9.87288 30.6057 9.93607V11.3126C30.6057 11.4419 30.5005 11.5466 30.3708 11.5466H30.2298H30.0889C29.9591 11.5466 29.854 11.4419 29.854 11.3126V9.92282C29.6196 9.85612 29.4069 9.73251 29.2314 9.55756C28.9582 9.28539 28.8077 8.92345 28.8076 8.53857C28.8076 8.1536 28.9581 7.79176 29.2313 7.51959C29.5045 7.24737 29.8678 7.09741 30.2542 7.09741C30.6406 7.09746 31.0038 7.24737 31.2769 7.51959C31.8409 8.08138 31.8409 8.99567 31.2769 9.55751Z" />
                </g>
                <defs>
                    <clipPath id="clip0_482_488">
                        <rect width="73" height="28.9929" fill="white" transform="translate(0 0.50354)" />
                    </clipPath>
                </defs>
            </svg>
        </div>
        <img *ngIf="(userProfile$ | async) as queryResult" class="my-auto max-h-10 rounded-full"
            src="{{queryResult?.data?.currentUserProfile?.dpUrl}}" alt="user dp" />
    </header>

    <aside [ngClass]="{'w-60': !isSidebarCollapsed}"
        class="px-2 py-4 bg-atlas-neutrals-10 h-full fixed z-10 left-0 overflow-x-hidden duration-500 space-y-2 drop-shadow-md">
        <ng-container *ngFor="let menu of menues">
            <ng-container *ngIf="menu.children?.length ?? 0 > 0; then menuWithChildren; else menuWithoutChildren">
            </ng-container>
            <ng-template #menuWithChildren>
                <div (click)="isSidebarCollapsed ? isSidebarCollapsed = false : isSidebarCollapsed = isSidebarCollapsed" class="group">
                    <span
                        routerLinkActive="text-atlas-blue-400 bg-atlas-neutrals-900 bg-opacity-5 rounded-atlas"
                        class="px-4 py-2 font-bold flex space-x-2 text-atlas-n-600 hover:text-atlas-b-400 focus:text-atlas-b-400 hover:bg-atlas-n-900 focus:bg-atlas-n-900 hover:bg-opacity-5 focus:bg-opacity-5 hover:rounded-atlas focus:rounded-atlas">
                        <span class="material-icons-outlined">
                            {{menu.icon}}
                        </span>
                        <span *ngIf="!isSidebarCollapsed" class="text-sm my-auto">{{menu.caption}}</span>
                    </span>
                    <div *ngIf="!isSidebarCollapsed" class="group-hover:visible flex flex-col">
                        <a *ngFor="let child of menu.children" class="pl-10 py-2 text-atlas-n-600 hover:text-atlas-b-400 focus:text-atlas-b-400 hover:bg-atlas-n-900 focus:bg-atlas-n-900 hover:bg-opacity-5 focus:bg-opacity-5 hover:rounded-atlas focus:rounded-atlas"
                            routerLink="{{menu.path + '/' + child.path}}" 
                            routerLinkActive="text-atlas-blue-400 bg-atlas-neutrals-900 bg-opacity-5 rounded-atlas">
                            {{child.caption}}
                        </a>
                    </div>
                </div>
            </ng-template>
            <ng-template #menuWithoutChildren>
                <a routerLink="{{menu.path}}"
                    routerLinkActive="text-atlas-blue-400 bg-atlas-neutrals-900 bg-opacity-5 rounded-atlas"
                    class="px-4 py-2 font-bold flex space-x-2 text-atlas-n-600 hover:text-atlas-b-400 focus:text-atlas-b-400 hover:bg-atlas-n-900 focus:bg-atlas-n-900 hover:bg-opacity-5 focus:bg-opacity-5 hover:rounded-atlas focus:rounded-atlas">
                    <span class="material-icons-outlined">
                        {{menu.icon}}
                    </span>
                    <span *ngIf="!isSidebarCollapsed" class="text-sm my-auto">{{menu.caption}}</span>
                </a>
            </ng-template>
        </ng-container>


        <!-- <a *ngFor="let menu of menues" routerLink="{{menu.path}}"
            routerLinkActive="text-atlas-blue-400 bg-atlas-neutrals-900 bg-opacity-5 rounded-atlas"
            class="px-4 py-2 font-bold flex space-x-2 text-atlas-n-600 hover:text-atlas-b-400 focus:text-atlas-b-400 hover:bg-atlas-n-900 focus:bg-atlas-n-900 hover:bg-opacity-5 focus:bg-opacity-5 hover:rounded-atlas focus:rounded-atlas">
            <span class="material-icons-outlined">
                {{menu.icon}}
            </span>
            <span *ngIf="!isSidebarCollapsed" class="text-sm my-auto">{{menu.caption}}</span>
            <span *ngIf="menu.children?.length ?? 0 > 0">
                <a *ngFor="let child of menu.children" routerLink="{{menu.path + '/' + child.path}}">{{child.caption}}</a>
            </span>
        </a> -->
    </aside>
    <!-- pb-20 h-full w-full fixed overflow-x-hidden -->
    <main [ngClass]="isSidebarCollapsed ? 'ml-20' : 'ml-60'" class="px-6 pt-5 duration-500">
        <router-outlet></router-outlet>
    </main>

    <footer></footer>
</ng-template>

<ng-template #unauthorizedTemplate>
    <router-outlet></router-outlet>
</ng-template>